.block_list
  .block--head
    align-items: center
    text-align: center
  .block--elements
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 24px
    place-items: stretch
    @media(max-width: 992px)
      grid-template-columns: repeat(3, 1fr)
      gap: 8px
    @media(max-width: 640px)
      grid-template-columns: repeat(2, 1fr)
    .block--pagination
      grid-column: span 4
      @media(max-width: 992px)
        grid-column: span 3
      @media(max-width: 640px)
        grid-column: span 2
    @media(max-width: 768px)
      display: flex
      flex-direction: column
      .card
        width: 100%
      .block--pagination
        grid-column: span 1

  &.block_list-slider
    position: relative
    overflow: hidden
    .block--elements
      display: block
      position: relative

  &.block_list-slider-v2
    .block--wrapper
      display: flex
      flex-direction: column
      gap: 20px
      @media(min-width: 998px)
        display: grid
        grid-template-columns: 1.5fr 3fr
    .block--head
      display: flex
      flex-direction: column
      background-color: var(--accent)
      color: var(--c-surface-default)
      display: flex
      flex-direction: column
      padding: var(--g-content)
      text-align: left
      align-items: flex-start
      border-radius: var(--border-corner)
      gap: 16px
      h2
        font-size: 36px
      &_subtitle
        color: var(--accent-2)
    .block--elements
      overflow: hidden
      margin: 0
      margin-right: calc(var(--g-container) * -1)
      padding-right: var(--g-container)
      .card--label
        display: none
      .card--content
        height: 100%
        gap: 12px
      .card--image
        min-height: 500px
        width: auto
        height: 100%
      .card--actions
        margin-top: auto




