section.block.block_list.block_list-slider.content_events
  .block--wrapper
    .block--head
      .block--head_title
        a(href="")
          h2.f-h2 Ближайшие события
    .block--elements
      a.card(href="")
        .card--date
          strong 21
          span июн
        .card--image
          <!-- Класс проставляется автоматически если несколько изображений -->
          img(src="/assets/img/offer.jpg" alt="")
          img(src="/assets/img/review.png" alt="")
          img(src="/assets/img/offer.jpg" alt="")
          img(src="/assets/img/review.png" alt="")
        .card--content
          .card--title
            h3 День рождения
            .card--action
              span.icon
          .card--text
            .card--text_item
              span Время
              span 11 июня 18:00
      +card--events
      +card--events
      +card--events
