//.content_contacts
//  .block--content
//    display: grid
//    grid-template-columns: 1fr 1fr
//    gap: 20px
//    @media(max-width: 768px)
//      display: flex
//      flex-direction: column-reverse
//
//
//.content_page_contacts
//  padding-right: var(--g-container)
//  .block--elements,
//  .block--content
//    display: flex
//    flex-direction: column
//
.content_map
  margin: var(--g-container) 0


.contact
  display: flex
  gap: 16px
  &--item
    display: flex
    flex-direction: column
    gap: 16px
  &--title
    font-weight: 500
    font-size: var(--fs-32)
    text-transform: uppercase
  &--link
    font-weight: 500
    color: var(--accent)
    padding: 16px 0
