//.note
//  .note-close
//    button.button.button-link.button-secondary
//      span.icon-close
//  .note-content
//    .note-title
//      //span
//      span Сайт находится в разработке.
//    .note-text
//      p На данной странице вам доступна основная информация
