.form__input
  span Добавить файл
  label.form__input-file
    p.js-changeDescriptionText <span>Выберите файл</span> с резюме или перетащите его в поле (doc, pdf, до 10мб)
    input.hidden.js-input_file(type="file" name="" required)
    .js-clearFile
  .form__input-error Ошибка заполнения
