.block--sections

  height: max-content
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  //flex-wrap: wrap
  gap: 8px var(--g-24)
  grid-area: sections
  margin-top: var(--g-section-inner)
  @media(max-width: 768px)
    overflow-x: auto
    padding: 20px 16px
    margin: 0 -16px
  a
    flex-grow: 0
    flex-shrink: 0
    text-transform: uppercase
    font-size: var(--fs-40)
    padding: 10px 23px
    text-align: center
    white-space: nowrap
    color: var(--c-text-disabled)
    border-radius: var(--border-corner-button)
    border: 1px solid transparent
    &:hover,
    &:focus
      color: var(--c-text-default)

    &.is_active
      border-color: currentColor
      color: var(--c-text-default)
      position: relative
  &_container
    max-width: calc(100% - 100px - var(--g-24) )
  .slider_controls
    width: 100%
    z-index: 2
    position: relative
    &:after
      background: linear-gradient(90deg, rgba(255,254,254,0) 0%, rgba(255,255,255,1) 15%)
      content: ''
      position: absolute
      left: -40%
      right: -20%
      top: -20%
      bottom: -20%
