// Вариации баннеров и существующие классы
section.block.block_banner.banner-hero.banner-group
  .block--wrapper
    .banner
      .block--content
        img(src="/assets/img/bg.jpg")
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
      .block--actions
        a(href="/").button.button-filled.button-accent
          span Кнопка 1
        a(href="/").button.button-filled.button-primary
          span Кнопка 1
    .banner
      .block--content
        video(src="/assets/video/@lepragram.mp4" poster="/assets/img/bg.jpg" muted autoplay playsinline loop)
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
      .block--actions
        a(href="/").button.button-filled.button-accent
          span Кнопка 1
section.block.block_banner.banner-hero
  .block--wrapper
    .banner
      .block--content
        img(src="/assets/img/bg.jpg")
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
      .block--actions
        a(href="/").button.button-filled.button-accent
          span Кнопка 1
        a(href="/").button.button-filled.button-primary
          span Кнопка 1


section.block.block_banner
  .block--wrapper
    .banner
      .block--content
        img(src="/assets/img/bg.jpg")
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
      .block--actions
        a(href="/").button.button-filled.button-primary
          span Кнопка 1
        a(href="/").button.button-filled.button-primary
          span Кнопка 1

section.block.block_banner.banner-group
  .block--wrapper
    .banner
      .block--content
        video(src="/assets/video/@lepragram.mp4" poster="/assets/img/bg.jpg" muted autoplay playsinline loop)
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
    .banner
      .block--content
        img(src="/assets/img/bg.jpg")
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
      .block--actions
        a(href="/").button.button-filled.button-primary
          span Кнопка 1
        a(href="/").button.button-filled.button-primary
          span Кнопка 1

section.block.block_banner.banner-no_media
  .block--wrapper
    .banner
      +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
      .block--actions
        a(href="/").button.button-filled.button-accent
          span Кнопка 1
        a(href="/").button.button-filled.button-primary
          span Кнопка 1




