// Вариации баннеров и существующие классы
//
section.block.block_banner.block_banner-hero.block_banner-group
  .block--wrapper
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход

section.block.block_banner.block_banner-hero
  .block--wrapper
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход


section.block.block_banner
  .block--wrapper
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход

section.block.block_banner.block_banner-group
  .block--wrapper
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход

section.block.block_banner.banner-no_media
  .block--wrapper
    .banner
      .block--content
        //img(src="/assets/img/bg.jpg")
        video(poster="/assets/img/bg.jpg" src="https://mriyaresort.com/upload/_content/e11/e115486fb468da56217dcb4dfba748ac.mp4" autoplay loop muted playsinline)
      .block--head
        .block--head_subtitle
          p события и фестивали
        .block--head_title
          h1.f-h1 спортивный сезон 2024
        .block--head_caption
          p Horseka Sport занимается активным развитием и популяризацией конного спорта в России.
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход




