extends ../../layouts/main

block variables
  - var title = "Списки"
  - var pageClass = ''
  - var activePage = ''

block content
  section.block
    .block--wrapper
      .block--head
        .block--head_subtitle
          p каталог лошадей
        .block--head_title
          h2.f-h2 Лошади на продажу
        .block--head_caption
          p Почувствуйте азарт турниров по верховой езде! Узнайте актуальное расписание, коэффициенты и результаты ближайших событий на площадках Horseka Sport!
        .block--actions
          a(href="/").button.button-filled.button-accent.button-dark
            span Действие
          a(href="/").button.button-filled.button-primary
            span Переход
  section.block
    .block--wrapper
      .block--head
        .block--head_subtitle
          p каталог лошадей
        .block--head_title
          h1.f-h1 Лошади на продажу
        .block--head_caption
          p Почувствуйте азарт турниров по верховой езде! Узнайте актуальное расписание, коэффициенты и результаты ближайших событий на площадках Horseka Sport!
  section.block
    .block--wrapper
      .block--head
        .block--head_subtitle
          p каталог лошадей
        .block--head_title
          a(href="/")
            h2.f-h2 Лошади на продажу
        .block--head_caption
          p Почувствуйте азарт турниров по верховой езде! Узнайте актуальное расписание, коэффициенты и результаты ближайших событий на площадках Horseka Sport!
        .block--head_link
          a.button(href='')
            span В каталог
            span.icon-HeroSliderRight

