extends ../../layouts/main

block variables
  - var title = "Заготовки"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.block.block_list.block_html_code.content_advantages-2
    .block--wrapper
      .block--head
        .block--head_subtitle
          p каталог лошадей
        .block--head_title
          h2.f-h2 Карточки Акции грид
        .block--head_caption
          p content_offers

      .block--elements
        .card.advantages-1
          .card--image
            img(src="/assets/img/advantages/advantages-back-1.jpg")
          .card--content
            .card--title
              h3.f-h4 30 гектаров<br>территории
            .card--text
              p Просторная территория для занятий конным спортом, развлечений и отдыха
        .card.advantages-2
          .card--image
            img(src="/assets/img/advantages/advantages-back-2.jpg")
          .card--content
            .card--title
              h3.f-h4 Современное<br>оснащение
            .card--text
              p 4 поля, 3 манежа, 10 конюшен и конюшни на выбор в соответствии с вашими желаниями и предпочтениями
        .card.advantages-3
          .card--image
            img(src="/assets/img/advantages/advantages-back-3.jpg")
          .card--content
            .card--title
              h3.f-h4 крупнейшие<br> соревнования и турниры
            .card--text
              p Участвуйте во всероссийских и международных соревнованиях, демонстрируйте свои навыки и таланты
        .card.advantages-4
          .card--image
            img(src="/assets/img/advantages/advantages-back-4.jpg")
          .card--content
            .card--title
              h3.f-h4 Экспертный<br>состав тренеров
            .card--text
              p Учитесь у профессионального тренерского состава, который поможет вам достичь ваших целей и осуществить мечты


