extends ../../layouts/breadcrumbs-hero

block variables
  - var title = "Баннеры вариации"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../../components/_templates/block/block_banner/block_banner
