extends ../../layouts/breadcrumbs

block variables
  - var title = "Вакансия детальная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  article.block.block_element.content_vacancy
    .block--wrapper
      .block--content
        +block--head_h1("","Механик","")
        .is_cascade
          h4  Условия
          ul.note
            li
              span График работы
              p 2/2, с 08:00 до 20:00
            li
              span Заработная плата
              p от 45 000 ₽
          h4 Требования
          p Прием входящих звонков, встреча посетителей, информирование пациентов о ценах и услугах клиники, запись на прием к специалисту, оформление первичной документации, ведение расписания приема, ведение клиентской базы, осуществление денежных расчетов с клиентами клиники, работа с кассой, программой Инфоклиника, продажа сопутствующего товара (услуги, косметика, сертификаты и т.д.), работа с претензиями, участие в инвентаризации, прием товара. Создание комфортного пребывания клиентов в клинике с высоким сервисом обслуживания.
          h4 Обязанности
          p Умение работать в режиме многозадачности, с большим объемом информации,знание программы Инфоклиника, работа с кассовым аппаратом, опыт ведения телефонных переговоров, умение и желание продавать услуги клиники и сопутствующие товары, ответственность, вежливость, доброжелательность, стрессоустойчивость, опрятность, знание этикета, понимание высокого сервиса обслуживания. Желателен опыт работы в сфере эстетической медицины.
          p Умение работать в режиме многозадачности, с большим объемом информации,знание программы Инфоклиника, работа с кассовым аппаратом, опыт ведения телефонных переговоров, умение и желание продавать услуги клиники и сопутствующие товары, ответственность, вежливость, доброжелательность, стрессоустойчивость, опрятность, знание этикета, понимание высокого сервиса обслуживания. Желателен опыт работы в сфере эстетической медицины.
        button.button.button-outlined.button-secondary(data-openpopup="popup_for_vacancy_form") Откликнуться
      .block--image
        img(src="/assets/img/1.jpg")
  section.block.block_html_code.content_subscription
    .block--wrapper
      .block--head
        .block--head_title
          h1 Откликнуться
            span  на&nbsp;вакансию
        .block--head_caption
          p У вас есть вопросы или нужна дополнительная информация? Заполните контактную форму ниже, и наша дружная команда свяжется с вами в ближайшее время.
      form.form
        input(type="hidden" value="" name="fields[form]")
        input(type="hidden" value="")
        fieldset
          label.form__input
            span Ваше имя*
            input(type="text" placeholder="Иванов Иван Иванович" name="fields[name]" required autocomplete)
            .form__input-error Ошибка заполнения
          label.form__input
            span Телефон*
            input(type="tel" placeholder="+7 999 999-99-99" name="fields[phone]" inputmode="numeric" autocomplete="tel" required)
            .form__input-error Ошибка заполнения
          label.form__input
            span Email*
            input(type="email" placeholder="example@imperial.ru" name="fields[email]"  autocomplete="email" required)
            .form__input-error Ошибка заполнения

          label.form__input
            span text
            textarea(placeholder="Ваше сообщение" rows='5' )
            .form__input-error Ошибка заполнения
          label.form__input
            span Резюме*
            label.form__input-file
              p.js-changeDescriptionText Выберите файл для загрузки
              input.hidden.js-input_file(type="file" required name="" accept=".doc,.docx,.pdf")
              .js-clearFile
            .form__input-error Ошибка заполнения
          label.form__input
            span Картинка
            label.form__input-file
              p.js-changeDescriptionText Выберите файл для загрузки
              input.hidden.js-input_file(type="file" required name="" accept=".svg,.png,.jpg,.jpeg,.pdf,.webp")
              .js-clearFile
            .form__input-error Ошибка заполнения
          p.form__policy Нажимая кнопку, вы соглашаетесь с
            a(href="") политикой конфиденциальности
          .form__button
            button.button.button-outlined.button-secondary(type="submit")
              span Отправить
