extends ../../layouts/breadcrumbs

block variables
  - var title = "Статья, новость детальные"
  - var pageClass = 'page-article'
  - var activePage = 'index'

block content
  article.block.block_element.content_article.js-page_navigation
    .block--wrapper
      aside.content_article--sidebar
        .content_article--sidebar_sticky
          strong содержание
          ul.sidebar_nav
            li
              a.sidebar_nav--item.js-anchor_link.is_active(href="#1") Расширение списка услуг для детей
            li
              a.sidebar_nav--item.js-anchor_link(href="#2") Индивидуальные планы лечения
            li
              a.sidebar_nav--item.js-anchor_link(href="#3") Мероприятия на свежем воздухе
            li
              a.sidebar_nav--item.js-anchor_link(href="#4") Комплексное медицинское обслуживание
            li
              a.sidebar_nav--item.js-anchor_link(href="#5") Заключение
        .content_news
          //+card--media('26.07.2023','акция','Пакет "Спа-день"','Побалуйте себя пакетом "Спа-день", включающим массаж, сауну и посещение нашего оздоровительного центра.','/assets/img/1.jpg')
      .block--content.is_cascade
        a(name="1") #1
        h2 Заголовок h2
        h3 Заголовок h3
        h4 Заголовок h4
        h5 Заголовок h5
        h6 Заголовок h6
        p Спа-процедуры являются популярным способом расслабиться и восстановить силы на протяжении веков, но знаете ли вы, что регулярное посещение спа-салона может также оказать значительное влияние на ваше общее здоровье и самочувствие?
        a(name="2") #2
        h3 Польза для психики
        p Одним <a href="" target="_blank">ССЫль</a> из наиболее известных преимуществ спа-процедур является их способность снимать стресс и способствовать расслаблению. Стресс может оказывать пагубное воздействие на организм, приводя к различным проблемам со здоровьем, включая высокое кровяное давление, сердечные заболевания и депрессию. Спа-процедуры, такие как массаж, гидротерапия и ароматерапия, помогают снять напряжение, снизить уровень кортизола и способствуют ощущению спокойствия и расслабления.
        p Помимо снятия стресса, регулярное посещение спа-салона может укрепить вашу иммунную систему, помогая защитить вас от болезней и недугов. Многие спа-процедуры, такие как сауны, парные и гидромассажные ванны, усиливают кровообращение, что, в свою очередь, способствует вымыванию токсинов и увеличению выработки белых кровяных телец - первой линии защиты организма от инфекций.
        a(name="3") #3
        ul
          li Lorem ipsum dolor.
          li Lorem ipsum dolor.
          li Lorem ipsum dolor.
          li Lorem ipsum dolor.
        a(name="4") #4
        ol
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloribus?
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloribus?
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloribus?
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloribus?
        blockquote
          p "Регулярные спа-процедуры - это инвестиции в ваше здоровье, это не просто роскошь - это необходимость".
          span - Ирина Александрова, спа-менеджер курорта
        table
          thead
            tr
              td Услуга
              td Цена
              td Место
              td Для детей
          tbody
            tr
              td Программа 1
              td 1200
              td Медицинский центр
              td Да
            tr
              td Программа 2
              td 1300
              td SPA
              td Нет
        strong Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam atque, consectetur delectus odio voluptate.
        .accordion
          +accordion-list("о бронировании и графике работы","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
          +accordion-list("КАК добраться до отеля","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
          +accordion-list("можно ли с домашними животными","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
        .button_wrapper
          a.button.button-filled.button-accent(href="")
            span Схема отеля
          a.button.button-outlined.button-accent(href="")
            span Как добраться
        figure
          img(src="/assets/img/1.jpg")
        figure
          img(src="/assets/img/1.jpg")
          figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, dolore ipsa itaque molestiae officiis voluptatem.
        figure
          video(src="/assets/video/@lepragram.mp4" controls)
        <iframe src="https://www.youtube.com/embed/m7mvpe1fVa4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        .is_cascade--slider
          .gallery.js-gallerySwiper
            //include ../../components/gallery/gallery

