.booking.js-booking
  .booking--wrapper
    label.booking--calendar
      .booking--calendar-item
        input#checkin(placeholder="")
        span Заезд
      .booking--calendar-separator
      .booking--calendar-item
        input#checkout(placeholder="")
        span Выезд
    .booking--button
      span.icon-ic24-search
      span Найти номер

