
.popup.popup-form(data-popup="popup_for_form" data-lenis-prevent)
  .popup--content
    .popup--close(data-closepopup)
      button.button
        span.icon-close
    .popup--form
      include ../../components/form/form

.popup.popup-confirmation(data-popup="popup_for_confirmation" data-lenis-prevent)
  .popup--content
    .popup-close(data-closepopup)
      button.button.button-filled.button-primary
        span.icon-close
    h3.popup--content-title Спасибо!
    p.popup--content-text Мы свяжемся с вами в скором времени

.popup.popup-filters(data-popup="popup_for_filters" data-lenis-prevent)
  .popup--content
    .popup--close(data-closepopup)
      button.button.button-filled.button-secondary
        span.icon-close
    h3.popup--content-title.f-h3  Фильтр
    .popup--form



.popup.popup-cookies(data-popup="popup_for_cookies" data-lenis-prevent)
  .popup--content
    //.popup--close(data-closepopup)
    //  button.button.button-link.button-primary
    //    span.icon-close
    //.popup--title Cookies
    .popup--text Мы используем файлы cookie для улучшения вашего опыта. Продолжая просмотр, вы соглашаетесь с
      a(href='') &nbsp;политикой использованием нами файлов cookie.
    .button_wrapper
      button.button.button-link.button-accent(data-closenotification)
        span Принять

.popup.popup-cascade(data-popup="popup_cascade" data-lenis-prevent)
  .popup--content
    .popup--close(data-closepopup)
      button.button.button-link.button-primary
        span.icon-close
    .is_cascade
      h1 Заголовок первого уровня
      figure
        img(src="/assets/img/bg.jpg")
      h2 Заголовок второго уровня
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum inventore placeat ratione voluptatum. Explicabo, nulla.
      p <strong>Lorem ipsum:</strong> dolor sit amet, consectetur adipisicing elit. Consequatur iste iure, molestiae nihil perferendis possimus praesentium quasi reprehenderit sed sunt tempore vero!
      h3 Заголовок
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iste iure, molestiae nihil perferendis possimus praesentium quasi reprehenderit sed sunt tempore vero!
        a(href="" target="_blank") ссылка
      ul
        li Lorem ipsum dolor sit amet, consectetur.
        li Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque explicabo optio placeat quisquam velit. Ad dignissimos est fugit, in maiores minima modi numquam quasi qui!
        li Lorem ipsum dolor sit amet, consectetur.
      ol
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, perferendis?
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere nam possimus quam rem sequi.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, provident!
      figure
        img(src="/assets/img/2.jpg")
        figcaption Вертикальная картинка
      figure
        img(src="/assets/img/1.jpg")
        figcaption Квадратная картинка
      figure
        video(src="/assets/video/@lepragram.mp4" controls)
      blockquote
        p  И таких моментов в Paranormasight: The Seven Mysteries of Honjo множество. Благодаря правильной подаче, работе со звуком, точечным скримерам в этой визуальной новелле страшнее, чем во многих других хоррорах. И это очень аутентичный, истинно японский ужастик.
        span Lucius Annaeus Sĕnĕca minor
      strong
      .button_wrapper
        a.button.button-filled.button-accent(href="")
          span Схема отеля
        a.button.button-outlined.button-accent(href="")
          span Как добраться

