section.block.block_image_text
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
      img(src="/assets/img/bg.jpg")
    +block--head("block_image_text", "block_image_text", "consectetur")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto atque autem consequuntur debitis delectus dolorum eos, esse impedit iusto magni, natus necessitatibus neque non obcaecati omnis quod sequi similique vitae voluptate!

// картинка текстс маской
section.block.block_image_text.block_image_text-mask
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("block_image_text", "block_image_text", "consectetur")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto atque autem consequuntur debitis delectus dolorum eos, esse impedit iusto magni, natus necessitatibus neque non obcaecati omnis quod sequi similique vitae voluptate!

section.block.block_image_text
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("block_image_text", "block_image_text", "consectetur")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto atque autem consequuntur debitis delectus dolorum eos, esse impedit iusto magni, natus necessitatibus neque non obcaecati omnis quod sequi similique vitae voluptate!

section.block.block_image_text.block_image_text-reversed.block_image_text-mask
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-reversed", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-reversed
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-reversed", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор


section.block.block_image_text.block_image_text-bg
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-bg", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-bg.ac-background-1
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-bg", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-reversed.block_image_text-bg
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-bg", "block_image_text-reversed")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-wrapper_bg
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-wrapper_bg", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
section.block.block_image_text.block_image_text-wrapper_bg.ac-background-1
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-wrapper_bg", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор


section.block.block_image_text.block_image_text-reversed.block_image_text-wrapper_bg-accent.block_image_text-bg-accent
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-wrapper_bg", "block_image_text-reversed")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-wide.block_image_text-wrapper_bg
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "block_image_text-wide", ".block_image_text-wrapper_bg")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
section.block.block_image_text.block_image_text-no_media
  .block--wrapper
    +block--head("Шеф повар", "no media", "consectetur")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-no_media.block_image_text-wrapper_bg
  .block--wrapper
    +block--head("Шеф повар", "no media", "block_image_text-reversed")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
