section.block.block_image_text
  .block--wrapper
    .block--image
      video(src="/assets/video/1.mp4" playsinline="" muted="" autoplay="" loop="")
      //video(src="/assets/video/@lepragram.mp4" playsinline muted autoplay loop)
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto atque autem consequuntur debitis delectus dolorum eos, esse impedit iusto magni, natus necessitatibus neque non obcaecati omnis quod sequi similique vitae voluptate!


section.block.block_image_text.block_image_text-reversed
  .block--wrapper
    .block--image
      video(src="/assets/video/@lepragram.mp4" playsinline="" muted="" autoplay="" loop="")
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-ratio.block_image_text-bg
  .block--wrapper
    .block--image
      video(src="/assets/video/@lepragram.mp4" playsinline muted autoplay)
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-ratio-portrait
  .block--wrapper
    .block--image
      video(src="/assets/video/@lepragram.mp4" playsinline muted autoplay)
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-reversed.block_image_text-ratio-portrait
  .block--wrapper
    .block--image
      video(src="/assets/video/@lepragram.mp4" playsinline muted autoplay)
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор

section.block.block_image_text.block_image_text-ratio-landscape
  .block--wrapper
    .block--image
      video(src="/assets/video/@lepragram.mp4" playsinline muted autoplay)
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-primary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-ratio-landscape
  .block--wrapper
    .block--image
      video(src="/assets/video/@lepragram.mp4" playsinline muted autoplay)
    +block--head("Шеф повар", "Рестораны и бары", "caption")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор


