<svg class="scheme"  viewBox="0 0 1920 1822" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  //<rect width="1920" height="1822" fill="url(#pattern0)"/>
<image  width="1920" height="1822" xlink:href="/assets/img/scheme/map_1.png"/>

  <!-- Метки мест с фотками -->
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
    <use xlink:href="#placemark_photo" x="622" y="368" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
    <g class="placemark_photo" data-src="/assets/img/jg_2.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="767" y="424" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
    <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="696" y="332" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
    <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="805" y="432" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
    <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="619" y="771" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
    <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="693" y="671" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
    <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="752" y="679" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
    <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
      <use xlink:href="#placemark_photo" x="748" y="757" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
    </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="709" y="795" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="651" y="817" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="612" y="818" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="585" y="1102" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="405" y="992" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="309" y="955" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="334" y="913" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="292" y="891" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="259" y="856" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="283" y="441" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="300" y="479" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="446" y="501" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="387" y="516" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="269" y="635" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="317" y="691" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="273" y="680" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="344" y="801" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="354" y="722" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="346" y="895" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="204" y="925" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="236" y="945" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="580" y="778" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="574" y="797" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="522" y="855" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="579" y="874" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="529" y="834" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="584" y="830" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="849" y="462" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1650" y="685" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1568" y="800" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1417" y="756" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1433" y="797" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1107" y="503" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1003" y="554" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1011" y="589" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="942" y="581" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="857" y="610" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="902" y="570" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="736" y="551" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/1.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="754" y="587" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/jg_3.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="1051" y="576" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/jg_3.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="582" y="356" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/jg_3.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="515" y="332" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
  <g class="placemark_photo" data-src="/assets/img/jg_3.jpg" data-type="places_to_photo">
  <use xlink:href="#placemark_photo" x="480" y="351" transform="matrix(1 0 0 1 -8 -8)" width="16" height="16" />
  </g>
<!-- Метки локаций -->

<g class="placemark placemark-park" data-object="" data-title="1" data-popup_cascade="popup_cascade" data-type="parks" >
<use xlink:href="#placemark" x="338" y="445" width="58" height="58" />
<use xlink:href="#icon_park" x="355" y="462" width="24" height="24" />
</g>
<g class="placemark placemark-park" data-openpopup="popup_cascade" data-object="" data-title="2" data-type="parks">
<use xlink:href="#placemark" x="458" y="470" width="58" height="58" />
<use xlink:href="#icon_park" x="475" y="487" width="24" height="24" />
</g>
<g class="placemark placemark-park" data-openpopup="popup_cascade" data-object="" data-title="3" data-type="parks">
<use xlink:href="#placemark" x="290" y="617" width="58" height="58" />
<use xlink:href="#icon_park" x="307" y="634" width="24" height="24" />
</g>
<g class="placemark placemark-park" data-openpopup="popup_cascade" data-object="" data-title="4" data-type="parks">
<use xlink:href="#placemark" x="1496" y="721" width="58" height="58" />
<use xlink:href="#icon_park" x="1513" y="738" width="24" height="24" />
</g>
<g class="placemark placemark-medicine" data-openpopup="popup_cascade" data-object="" data-title="5" data-type="health">
<use xlink:href="#placemark" x="426" y="265" width="58" height="58" />
<use xlink:href="#icon_medicine" x="443" y="282" width="24" height="24" />
</g>

<g class="placemark placemark-pool" data-openpopup="popup_cascade" data-object="" data-title="6" data-type="sports">
<use xlink:href="#placemark" x="644" y="693" width="58" height="58" />
<use xlink:href="#icon_pool" x="661" y="710" width="24" height="24" />
</g>
<g class="placemark placemark-pool" data-openpopup="popup_cascade" data-object="" data-title="7" data-type="sports">
<use xlink:href="#placemark" x="776" y="679" width="58" height="58" />
<use xlink:href="#icon_pool" x="793" y="696" width="24" height="24" />
</g>
<g class="placemark placemark-movie" data-openpopup="popup_cascade" data-object="" data-title="8" data-type="entertainment">
<use xlink:href="#placemark" x="639" y="365" width="58" height="58" />
<use xlink:href="#icon_movie" x="656" y="382" width="24" height="24" />
</g>

<g class="placemark placemark-sauna" data-openpopup="popup_cascade" data-object="" data-title="9" data-type="beauty">
<use xlink:href="#placemark" x="116" y="861" width="58" height="58" />
<use xlink:href="#icon_sauna" x="133" y="878" width="24" height="24" />
</g>
<g class="placemark placemark-sauna" data-openpopup="popup_cascade" data-object="" data-title="10" data-type="beauty">
<use xlink:href="#placemark" x="284" y="702" width="58" height="58" />
<use xlink:href="#icon_massage" x="301" y="719" width="24" height="24" />
</g>

<g class="placemark placemark-sport" data-openpopup="popup_cascade" data-object="" data-title="11" data-type="sports">
<use xlink:href="#placemark" x="248" y="882" width="58" height="58" />
<use xlink:href="#icon_sport" x="265" y="899" width="24" height="24" />
</g>
<g class="placemark placemark-sport" data-openpopup="popup_cascade" data-object="" data-title="12" data-type="sports">
<use xlink:href="#placemark" x="464" y="969" width="58" height="58" />
<use xlink:href="#icon_sport" x="481" y="986" width="24" height="24" />
</g>
<g class="placemark placemark-sport" data-openpopup="popup_cascade" data-object="" data-title="13" data-type="sports">
<use xlink:href="#placemark" x="858" y="566" width="58" height="58" />
<use xlink:href="#icon_sport" x="875" y="583" width="24" height="24" />
</g>
<g class="placemark placemark-sport" data-openpopup="popup_cascade" data-object="" data-title="14" data-type="sports">
<use xlink:href="#placemark" x="765" y="520" width="58" height="58" />
<use xlink:href="#icon_sport" x="782" y="537" width="24" height="24" />
</g>
<g class="placemark placemark-sport" data-openpopup="popup_cascade" data-object="" data-title="15" data-type="sports">
<use xlink:href="#placemark" x="774" y="623" width="58" height="58" />
<use xlink:href="#icon_sport" x="791" y="640" width="24" height="24" />
</g>

<g class="placemark placemark-beach" data-openpopup="popup_cascade" data-object="" data-title="16" data-type="entertainment">
<use xlink:href="#placemark" x="376" y="1006" width="58" height="58" />
<use xlink:href="#icon_beach" x="393" y="1023" width="24" height="24" />
</g>
<g class="placemark placemark-sea_offers" data-openpopup="popup_cascade" data-object="" data-title="17" data-type="entertainment">
<use xlink:href="#placemark" x="666" y="1110" width="58" height="58" />
<use xlink:href="#icon_sea_offers" x="683" y="1127" width="24" height="24" />
</g>

<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="18" data-type="main_buildings">
<use xlink:href="#placemark" x="281" y="758" width="58" height="58" />
<use xlink:href="#icon_rooms" x="298" y="775" width="24" height="24" />
</g>
<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="19" data-type="main_buildings">
<use xlink:href="#placemark" x="1340" y="414" width="58" height="58" />
<use xlink:href="#icon_rooms" x="1357" y="431" width="24" height="24" />
</g>
<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="20" data-type="main_buildings">
<use xlink:href="#placemark" x="222" y="729" width="58" height="58" />
<use xlink:href="#icon_rooms" x="239" y="746" width="24" height="24" />
</g>
<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="21" data-type="main_buildings">
<use xlink:href="#placemark" y="531" x="1312" width="58" height="58" />
<use xlink:href="#icon_rooms" x="1329" y="548" width="24" height="24" />
</g>
<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="22" data-type="main_buildings">
<use xlink:href="#placemark" x="382" y="702" width="58" height="58" />
<use xlink:href="#icon_rooms" x="399" y="719" width="24" height="24" />
</g>
<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="23" data-type="main_buildings">
<use xlink:href="#placemark" x="387" y="288" width="58" height="58" />
<use xlink:href="#icon_rooms" x="404" y="305" width="24" height="24" />
</g>
<g class="placemark placemark-rooms" data-openpopup="popup_cascade" data-object="" data-title="24" data-type="main_buildings">
<use xlink:href="#placemark" x="460" y="597" width="58" height="58" />
<use xlink:href="#icon_rooms" x="477" y="614" width="24" height="24" />
</g>

<g class="placemark placemark-bowling" data-openpopup="popup_cascade" data-object="" data-title="25" data-type="entertainment">
<use xlink:href="#placemark" x="652" y="410" width="58" height="58" />
<use xlink:href="#icon_bowling" x="669" y="427" width="24" height="24" />
</g>
<g class="placemark placemark-billiards" data-openpopup="popup_cascade" data-object="" data-title="26" data-type="entertainment">
<use xlink:href="#placemark" x="696" y="368" width="58" height="58" />
<use xlink:href="#icon_billiards" x="713" y="385" width="24" height="24" />
</g>

<g class="placemark placemark-section_a" data-openpopup="popup_cascade" data-object="" data-title="27" data-type="main_buildings">
<use xlink:href="#placemark" x="705" y="425" width="58" height="58" />
<use xlink:href="#icon_section_a" x="722" y="442" width="24" height="24" />
</g>
<g class="placemark placemark-section_b" data-openpopup="popup_cascade" data-object="" data-title="28" data-type="main_buildings">
<use xlink:href="#placemark" x="628" y="538" width="58" height="58" />
<use xlink:href="#icon_section_b" x="645" y="555" width="24" height="24" />
</g>
<g class="placemark placemark-section_c" data-openpopup="popup_cascade" data-object="" data-title="29" data-type="main_buildings">
<use xlink:href="#placemark" x="778" y="573" width="58" height="58" />
<use xlink:href="#icon_section_c" x="795" y="590" width="24" height="24" />
</g>
<g class="placemark placemark-section_d" data-openpopup="popup_cascade" data-object="" data-title="30" data-type="main_buildings">
<use xlink:href="#placemark" x="848" y="512" width="58" height="58" />
<use xlink:href="#icon_section_d" x="865" y="529" width="24" height="24" />
</g>
<g class="placemark placemark-section_e" data-openpopup="popup_cascade" data-object="" data-title="31" data-type="main_buildings">
<use xlink:href="#placemark" x="736" y="488" width="58" height="58" />
<use xlink:href="#icon_section_e" x="753" y="505" width="24" height="24" />
</g>

<g class="placemark placemark-beauty" data-openpopup="popup_cascade" data-object="" data-title="32" data-type="beauty">
<use xlink:href="#placemark" x="795" y="490" width="58" height="58" />
<use xlink:href="#icon_beauty" x="812" y="507" width="24" height="24" />
</g>
<g class="placemark placemark-massage" data-openpopup="popup_cascade" data-object="" data-title="33" data-type="beauty">
<use xlink:href="#placemark" x="870" y="478" width="58" height="58" />
<use xlink:href="#icon_massage" x="887" y="495" width="24" height="24" />
</g>
<g class="placemark placemark-medicine" data-openpopup="popup_cascade" data-object="" data-title="34" data-type="health">
<use xlink:href="#placemark" x="905" y="514" width="58" height="58" />
<use xlink:href="#icon_medicine" x="923" y="531" width="24" height="24" />
</g>
<g class="placemark placemark-sauna" data-openpopup="popup_cascade" data-object="" data-title="35" data-type="beauty">
<use xlink:href="#placemark" x="824" y="472" width="58" height="58" />
<use xlink:href="#icon_sauna" x="841" y="489" width="24" height="24" />
</g>
<g class="placemark placemark-sauna" data-openpopup="popup_cascade" data-object="" data-title="36" data-type="beauty">
<use xlink:href="#placemark" x="804" y="424" width="58" height="58" />
<use xlink:href="#icon_spa" x="821" y="441" width="24" height="24" />
</g>
<g class="placemark placemark-sport" data-openpopup="popup_cascade" data-object="" data-title="37"  data-type="sports">
<use xlink:href="#placemark" x="987" y="445" width="58" height="58" />
<use xlink:href="#icon_tennis" x="1004" y="462" width="24" height="24" />
</g>

<g class="placemark placemark-shop" data-openpopup="popup_cascade" data-object="" data-title="38" data-type="shops">
<use xlink:href="#placemark" x="767" y="449" width="58" height="58" />
<use xlink:href="#icon_shop" x="784" y="466" width="24" height="24" />
</g>
<g class="placemark placemark-shop" data-openpopup="popup_cascade" data-object="" data-title="39" data-type="shops">
<use xlink:href="#placemark" x="354" y="958" width="58" height="58" />
<use xlink:href="#icon_shop" x="371" y="975" width="24" height="24" />
</g>
<g class="placemark placemark-shop" data-openpopup="popup_cascade" data-object="" data-title="40" data-type="shops">
<use xlink:href="#placemark" x="602" y="1015" width="58" height="58" />
<use xlink:href="#icon_shop" x="619" y="1032" width="24" height="24" />
</g>
<g class="placemark placemark-shop" data-openpopup="popup_cascade" data-object="" data-title="41" data-type="shops">
<use xlink:href="#placemark" x="525" y="786" width="58" height="58" />
<use xlink:href="#icon_shop" x="542" y="803" width="24" height="24" />
</g>

<g class="placemark placemark-food" data-openpopup="popup_cascade" data-object="" data-title="42" data-type="restaurants">
<use xlink:href="#placemark" x="516" y="549" width="58" height="58" />
<use xlink:href="#icon_food" x="533" y="566" width="24" height="24" />
</g>
<g class="placemark placemark-food" data-openpopup="popup_cascade" data-object="" data-title="43" data-type="restaurants">
<use xlink:href="#placemark" x="492" y="658" width="58" height="58" />
<use xlink:href="#icon_food" x="509" y="675" width="24" height="24" />
</g>
<g class="placemark placemark-bar" data-openpopup="popup_cascade" data-object="" data-title="44" data-type="restaurants">
<use xlink:href="#placemark" x="1540" y="616" width="58" height="58" />
<use xlink:href="#icon_wine" x="1557" y="633" width="24" height="24" />
</g>

<g class="placemark placemark-sea_offers" data-openpopup="popup_cascade" data-title="45" data-object="" data-type="entertainment">
<use xlink:href="#placemark" x="470" y="1280" width="58" height="58" />
<use xlink:href="#icon_sea_offers" x="487" y="1297" width="24" height="24" />
</g>

<g class="placemark placemark-mriya" data-openpopup="popup_cascade" data-object="" data-title="46" data-type="main_buildings">
<use xlink:href="#placemark" x="912" y="298" width="58" height="58" />
<use xlink:href="#icon_mriya" x="929" y="315" width="24" height="24" />
</g>

<defs>
<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
<image id="image0_364_8978" width="1920" height="2025" xlink:href="/assets/img/scheme/map_1.png" transform="matrix(0.000520833 0 0 0.000548847 0 -0.055708)"/>
</pattern>

<!-- Иконка метки с инфраструктурой -->
<symbol id="placemark" viewBox="0 0 58 58" width="58" height="58">
<g filter="url(#filter_placemark)">
<rect x="6.34315" y="29" width="32" height="32" transform="rotate(-45 6.34315 29)" stroke="var(--border-color)" stroke-opacity="var(--border-opacity)" stroke-width="8" style="transition: var(--transition)"/>
</g>
<rect x="12" y="29" width="24" height="24" transform="rotate(-45 12 29)" fill="white"/>
</symbol>

<filter id="blur">
<feGaussianBlur in="SourceGraphic" stdDeviation="12" result="blurred" />
</filter>

<filter id="filter_placemark" color-interpolation-filters="sRGB" >
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feGaussianBlur in="BackgroundImageFix" stdDeviation="8"/>
<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1319_6270"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1319_6270" result="shape"/>
</filter>
</filter>

<!-- Иконки объектов на карте -->
<symbol id="icon_bar" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M19 5.91453V4H5V5.91453L11.2507 13.2926V18.2393H8.28426V20H15.7157V18.2393H12.7497V13.2926L19 5.91453ZM6.98445 5.76068H17.0138L15.6643 7.35368H8.33395L6.98445 5.76068Z"/>
</symbol>
<symbol id="icon_beach" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M16.6585 5.83815C13.4792 3.95319 9.14113 5.55718 7.99393 7.5977L12.6997 10.3878L10.5394 13.9374L10.5955 13.9734C7.48014 14.1007 5 16.3025 5 19H16.7609C16.7609 16.7596 15.0501 14.8611 12.6855 14.2092L14.3983 11.3949L19.5069 14.4237C20.6541 12.3832 19.8377 7.7231 16.6585 5.83815Z"/>
</symbol>
<symbol id="icon_beauty" viewBox="0 0 24 24">
<path fill="var(--currentColor)" fill-rule="evenodd" clip-rule="evenodd" d="M18 12C18 7.58545 15.3106 4 12 4C8.68941 4 6 7.58545 6 12C6 16.4218 8.68941 20 12 20C15.3106 20 18 16.4218 18 12ZM11.6465 5.64648L8.64648 8.64648L9.35359 9.35359L12.3536 6.35359L11.6465 5.64648ZM13.6465 6.64648L8.14648 12.1465L8.85359 12.8536L14.3536 7.35359L13.6465 6.64648Z"/>
</symbol>
<symbol id="icon_billiards" viewBox="0 0 24 24">
<path fill="var(--currentColor)" fill-rule="evenodd" clip-rule="evenodd" d="M12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19ZM12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14Z" />
</symbol>
<symbol id="icon_bowling" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M12 5C12.9193 5 13.8295 5.18106 14.6788 5.53284C15.5281 5.88463 16.2997 6.40024 16.9497 7.05025C17.5998 7.70026 18.1154 8.47194 18.4672 9.32122C18.8189 10.1705 19 11.0807 19 12C19 13.8565 18.2625 15.637 16.9497 16.9497C15.637 18.2625 13.8565 19 12 19C11.0807 19 10.1705 18.8189 9.32122 18.4672C8.47194 18.1154 7.70026 17.5998 7.05025 16.9497C5.7375 15.637 5 13.8565 5 12C5 10.1435 5.7375 8.36301 7.05025 7.05025C8.36301 5.7375 10.1435 5 12 5ZM12.35 11.3C12.0715 11.3 11.8045 11.4106 11.6075 11.6075C11.4106 11.8045 11.3 12.0715 11.3 12.35C11.3 12.6285 11.4106 12.8955 11.6075 13.0925C11.8045 13.2894 12.0715 13.4 12.35 13.4C12.6285 13.4 12.8955 13.2894 13.0925 13.0925C13.2894 12.8955 13.4 12.6285 13.4 12.35C13.4 12.0715 13.2894 11.8045 13.0925 11.6075C12.8955 11.4106 12.6285 11.3 12.35 11.3ZM12 7.1C11.6287 7.1 11.2726 7.2475 11.0101 7.51005C10.7475 7.7726 10.6 8.1287 10.6 8.5C10.6 8.8713 10.7475 9.2274 11.0101 9.48995C11.2726 9.7525 11.6287 9.9 12 9.9C12.3713 9.9 12.7274 9.7525 12.9899 9.48995C13.2525 9.2274 13.4 8.8713 13.4 8.5C13.4 8.1287 13.2525 7.7726 12.9899 7.51005C12.7274 7.2475 12.3713 7.1 12 7.1ZM7.751 9.55C7.366 10.215 7.597 11.069 8.262 11.454C8.934 11.846 9.788 11.615 10.18 10.95C10.565 10.271 10.334 9.417 9.662 9.032C8.997 8.647 8.15 8.871 7.751 9.55Z" />
</symbol>
<symbol id="icon_food" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M5.24444 20L4 18.7556L13.1111 9.64444C12.8444 9.02222 12.8074 8.31852 13 7.53333C13.1926 6.74815 13.6148 6.04444 14.2667 5.42222C15.0519 4.63704 15.9259 4.17778 16.8889 4.04444C17.8519 3.91111 18.637 4.14815 19.2444 4.75556C19.8519 5.36296 20.0889 6.14815 19.9556 7.11111C19.8222 8.07407 19.363 8.94815 18.5778 9.73333C17.9556 10.3852 17.2519 10.8074 16.4667 11C15.6815 11.1926 14.9778 11.1556 14.3556 10.8889L13.2444 12L20 18.7556L18.7556 20L12 13.2889L5.24444 20ZM7.86667 12.4L5.2 9.73333C4.4 8.93333 4 7.97778 4 6.86667C4 5.75556 4.4 4.8 5.2 4L10.7111 9.55556L7.86667 12.4Z" />
</symbol>
<symbol id="icon_massage" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M10 6H5V8H10V6Z" />
<path fill="var(--currentColor)" d="M19 9H5V12H6V18H8V12H16V18H18V12H19V9Z" />
</symbol>
<symbol id="icon_medicine" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M13.3 5H10.5V11H5.00008V14H10.5V19H13.3V14H19V11H13.3V5Z" />
</symbol>
<symbol id="icon_movie" viewBox="0 0 24 24">
<path fill="var(--currentColor)" fill-rule="evenodd" clip-rule="evenodd" d="M14 9V7H5V10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14V17H14V15H15V17H19V14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10V7H15V9H14ZM15 11H14V13H15V11Z" />
</symbol>
<symbol id="icon_mriya" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M7.74622 14.0389C6.92527 13.9676 6.09743 14.0649 5.32196 14.3238L5 14.4369L5.19813 14.6983C6.61547 16.5936 9.64615 17.4916 12.0004 16.7283C14.3546 17.4916 17.3874 16.5936 18.8026 14.6983L19 14.4369L18.6745 14.3238C17.899 14.0649 17.0712 13.9676 16.2502 14.0389C17.4532 12.935 18.2549 11.5109 18.4438 10.0965L18.487 9.77695L18.141 9.81617C16.8835 9.9593 15.2313 10.5665 13.9767 11.8324C14.1911 9.88218 13.6392 8.17637 12.224 6.28103L12.0117 6L11.9982 6.01569L11.9848 6L11.7725 6.28103C10.3552 8.17245 9.80748 9.88218 10.0198 11.8324C8.76518 10.5665 7.11291 9.9593 5.8555 9.81617L5.50948 9.77695L5.55264 10.0965C5.74157 11.5109 6.54329 12.935 7.74622 14.0389Z" />
</symbol>
<symbol id="icon_park" viewBox="0 0 24 24">
<path fill="var(--currentColor)" fill-rule="evenodd" clip-rule="evenodd" d="M17.0071 6.42099C16.5938 5.40756 15.8979 4.54217 15.0071 3.93354C14.1162 3.32492 13.07 3.00021 12 3.00021C10.93 3.00021 9.8838 3.32492 8.99293 3.93354C8.10206 4.54217 7.40624 5.40756 6.99287 6.42099C6.10338 6.84414 5.34958 7.51854 4.8196 8.36536C4.28961 9.21218 4.00534 10.1964 4.00002 11.203C3.99216 14.0502 6.24001 16.9777 9.01001 17.051C9.64028 17.0679 10.2663 16.9651 10.8571 16.7496V21.0002H13.1429V16.7469C13.7263 16.955 14.3476 17.051 14.99 17.051C17.76 16.9777 20.0078 14.0517 20 11.2045C19.9952 10.1976 19.7112 9.21291 19.1811 8.36576C18.6511 7.51861 17.897 6.84403 17.0071 6.42099ZM12.5714 15.3752V10.5395L15.7376 8.53587L15.1196 7.58955L12.5714 9.20204V6.37521H11.4286V11.7646L8.31245 9.76139L7.68755 10.7033L11.4286 13.1083V15.3752H12.5714Z"/>
</symbol>
<symbol id="icon_parking" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M16.0242 10.4641C16.0242 12.6241 14.3442 14.2881 12.0402 14.2881H10.5842V18.0001H8.26416V6.64014H12.0402C14.3442 6.64014 16.0242 8.30414 16.0242 10.4641ZM13.7682 10.4641C13.7682 9.52014 13.0802 8.81614 12.0082 8.81614H10.5842V12.1121H12.0082C13.0802 12.1121 13.7682 11.4081 13.7682 10.4641Z"/>
</symbol>
<symbol id="icon_pool" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M9.32 13C8.80501 13.0106 8.34838 12.8018 7.92 12.5333L10.58 9.94722C9.51954 8.77795 8.10343 8.21982 6.56 7.94445V6C10.6558 6.97156 13.566 9.14748 16.08 12.5333C15.6516 12.8028 15.1955 13.0109 14.68 13C13.7473 12.9803 12.9783 12.2222 12 12.2222C11.0218 12.2222 10.2525 12.9808 9.32 13ZM15.76 9.88889C15.2 9.88889 14.7267 9.70093 14.34 9.325C13.9533 8.94907 13.76 8.48889 13.76 7.94445C13.76 7.41296 13.9533 6.95589 14.34 6.57322C14.7267 6.19056 15.2 5.99948 15.76 6C16.32 6 16.7933 6.19133 17.18 6.574C17.5667 6.95667 17.76 7.41348 17.76 7.94445C17.76 8.48889 17.5667 8.94907 17.18 9.325C16.7933 9.70093 16.32 9.88889 15.76 9.88889Z"/>
<path fill="var(--currentColor)" d="M4 14.9444C4.91529 14.9444 5.68176 14.1742 6.64 14.1667C7.26421 14.1617 7.59312 14.3741 8.1904 14.5556C8.63681 14.6911 8.85346 14.9431 9.32 14.9444C10.2329 14.947 11.0417 14.1667 12 14.1667C12.9588 14.1667 13.7663 14.9444 14.68 14.9444C15.5954 14.9444 16.3991 14.1606 17.36 14.1667C18.3191 14.1727 19.0841 14.9444 20 14.9444V18H4V14.9444Z"/>
</symbol>
<symbol id="icon_rooms" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M20 6H4V11H6V8H11V11H13V8H18V11H20V6Z"/>
<path fill="var(--currentColor)" d="M4 12H20V18H18V16H6V18H4V12Z"/>
</symbol>
<symbol id="icon_sauna" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M9.41603 6.94888C8.92244 6.22112 8.92244 5.27301 9.41603 4.54525L8.58397 4C7.86646 5.05794 7.86646 6.43619 8.58397 7.49413C9.07756 8.22189 9.07756 9.17 8.58397 9.89777L9.41603 10.443C10.1335 9.38508 10.1335 8.00682 9.41603 6.94888Z" />
<path fill="var(--currentColor)" d="M7 9.18743H5V20H19V9.18743H17V12.1363H7V9.18743Z"/>
<path fill="var(--currentColor)" d="M12.416 4.54525C11.9224 5.27301 11.9224 6.22112 12.416 6.94888C13.1335 8.00682 13.1335 9.38508 12.416 10.443L11.584 9.89777C12.0776 9.17 12.0776 8.22189 11.584 7.49413C10.8665 6.43619 10.8665 5.05794 11.584 4L12.416 4.54525Z" />
<path fill="var(--currentColor)" d="M15.416 6.94888C14.9224 6.22112 14.9224 5.27301 15.416 4.54525L14.584 4C13.8665 5.05794 13.8665 6.43619 14.584 7.49413C15.0776 8.22189 15.0776 9.17 14.584 9.89777L15.416 10.443C16.1335 9.38508 16.1335 8.00682 15.416 6.94888Z" />
</symbol>
<symbol id="icon_sea_offers" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M12.7778 9.6V8.656C13.68 8.32 14.3333 7.44 14.3333 6.4C14.3333 5.08 13.2833 4 12 4C10.7167 4 9.66667 5.08 9.66667 6.4C9.66667 7.44 10.32 8.32 11.2222 8.656V9.6H9.66667C9.23889 9.6 8.88889 9.96 8.88889 10.4C8.88889 10.84 9.23889 11.2 9.66667 11.2H11.2222V18.336C9.49556 18.072 7.65222 16.992 6.90556 15.64L7.79222 14.728C7.96333 14.552 7.94 14.272 7.75333 14.128L5.62222 12.48C5.56445 12.4354 5.49574 12.4083 5.42381 12.4016C5.35188 12.3949 5.27957 12.409 5.21497 12.4422C5.15038 12.4755 5.09605 12.5265 5.05808 12.5897C5.02011 12.6529 5 12.7257 5 12.8V14.4C5 17.504 8.82667 20 12 20C15.1733 20 19 17.504 19 14.4V12.8C19 12.7257 18.9799 12.6529 18.9419 12.5897C18.904 12.5265 18.8496 12.4755 18.785 12.4422C18.7204 12.409 18.6481 12.3949 18.5762 12.4016C18.5043 12.4083 18.4356 12.4354 18.3778 12.48L16.2467 14.12C16.06 14.264 16.0367 14.552 16.2078 14.72L17.0944 15.632C16.3478 16.984 14.5044 18.064 12.7778 18.328V11.2H14.3333C14.7611 11.2 15.1111 10.84 15.1111 10.4C15.1111 9.96 14.7611 9.6 14.3333 9.6H12.7778ZM12 5.6C12.4278 5.6 12.7778 5.96 12.7778 6.4C12.7778 6.84 12.4278 7.2 12 7.2C11.5722 7.2 11.2222 6.84 11.2222 6.4C11.2222 5.96 11.5722 5.6 12 5.6Z"/>
</symbol>
<symbol id="icon_shop" viewBox="0 0 24 24">
<path fill="var(--currentColor)" fill-rule="evenodd" clip-rule="evenodd" d="M8 5V9H7L6 19H18L17 9H16V5H8ZM14 9V7H10V9H14Z"/>
</symbol>
<symbol id="icon_spa" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M14.8 10.104C14.648 7.872 13.744 5.696 12.048 4C10.4075 5.63439 9.39852 7.7968 9.2 10.104C10.232 10.648 11.176 11.352 12 12.208C12.8191 11.3663 13.7637 10.6566 14.8 10.104ZM12 14.76C10.28 12.136 7.344 10.4 4 10.4C4 18.4 11.456 19.912 12 20C12.544 19.904 20 18.4 20 10.4C16.656 10.4 13.72 12.136 12 14.76Z"/>
</symbol>
<symbol id="icon_sport" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M14.4 12.8H9.6V11.2H14.4V12.8ZM6.4 8V9.6H4.8V11.2C4.58783 11.2 4.38434 11.2843 4.23431 11.4343C4.08429 11.5843 4 11.7878 4 12C4 12.2122 4.08429 12.4157 4.23431 12.5657C4.38434 12.7157 4.58783 12.8 4.8 12.8V14.4H6.4V16H8.8V8H6.4ZM19.2 11.2V9.6H17.6V8H15.2V16H17.6V14.4H19.2V12.8C19.4122 12.8 19.6157 12.7157 19.7657 12.5657C19.9157 12.4157 20 12.2122 20 12C20 11.7878 19.9157 11.5843 19.7657 11.4343C19.6157 11.2843 19.4122 11.2 19.2 11.2Z"/>
</symbol>
<symbol id="icon_tennis" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M5.00295 11.1472C5.19231 9.58498 5.90036 8.13122 7.01398 7.01817C8.12759 5.90513 9.58251 5.19704 11.1463 5.00701C11.1833 5.00259 11.2209 5.00585 11.2566 5.01658C11.2923 5.02732 11.3254 5.04529 11.3539 5.06938C11.3823 5.09347 11.4055 5.12317 11.4219 5.15661C11.4383 5.19004 11.4477 5.22651 11.4494 5.26372C11.4829 6.08473 11.3458 6.90377 11.0467 7.66922C10.7477 8.43466 10.2931 9.1299 9.7116 9.71112C9.13015 10.2923 8.43447 10.7469 7.66841 11.0462C6.90234 11.3455 6.08252 11.483 5.26062 11.45C5.2233 11.4484 5.18672 11.4391 5.15317 11.4227C5.11961 11.4063 5.08981 11.3832 5.06562 11.3548C5.04143 11.3264 5.02338 11.2933 5.01259 11.2575C5.00181 11.2218 4.99852 11.1843 5.00295 11.1472ZM18.7367 12.5493C18.6607 12.5493 18.5855 12.5446 18.5095 12.5446C17.7063 12.5436 16.9112 12.7048 16.172 13.0187C15.4328 13.3325 14.7648 13.7925 14.2081 14.3709C13.6515 14.9493 13.2177 15.6342 12.9328 16.3844C12.648 17.1346 12.518 17.9346 12.5506 18.7363C12.5523 18.7735 12.5617 18.81 12.5781 18.8434C12.5945 18.8768 12.6177 18.9065 12.6461 18.9306C12.6746 18.9547 12.7077 18.9727 12.7434 18.9834C12.7791 18.9941 12.8167 18.9974 12.8537 18.993C14.4176 18.8029 15.8726 18.0947 16.9862 16.9816C18.0998 15.8684 18.8078 14.4145 18.9971 12.8521C19.0015 12.8148 18.9981 12.7771 18.9872 12.7412C18.9762 12.7053 18.9579 12.672 18.9335 12.6436C18.909 12.6151 18.8788 12.592 18.845 12.5758C18.8111 12.5596 18.7742 12.5506 18.7367 12.5493ZM13.523 13.5213C14.1763 12.8652 14.9534 12.345 15.8094 11.9908C16.6653 11.6367 17.5831 11.4556 18.5095 11.4581H18.719C18.7579 11.4595 18.7967 11.4525 18.8326 11.4376C18.8686 11.4228 18.9009 11.4003 18.9274 11.3719C18.9539 11.3434 18.9739 11.3096 18.9862 11.2727C18.9985 11.2358 19.0026 11.1967 18.9984 11.1581C18.8115 9.59009 18.1021 8.13048 16.9844 7.01387C15.8668 5.89725 14.4057 5.18851 12.8361 5.00159C12.7974 4.99739 12.7582 5.00155 12.7213 5.01379C12.6844 5.02603 12.6505 5.04607 12.622 5.07254C12.5935 5.09901 12.5711 5.1313 12.5562 5.16721C12.5413 5.20312 12.5343 5.24181 12.5357 5.28066C12.5665 6.24124 12.3997 7.19793 12.0456 8.09154C11.6915 8.98515 11.1577 9.79669 10.477 10.476C9.82392 11.1326 9.04689 11.6533 8.19094 12.0079C7.33499 12.3625 6.41713 12.544 5.49048 12.5419H5.28096C5.24207 12.5405 5.20334 12.5475 5.16739 12.5624C5.13144 12.5772 5.09912 12.5997 5.07262 12.6281C5.04612 12.6566 5.02606 12.6904 5.0138 12.7273C5.00155 12.7642 4.99738 12.8033 5.00159 12.8419C5.18854 14.4099 5.89788 15.8695 7.01555 16.9861C8.13323 18.1027 9.59432 18.8115 11.1639 18.9984C11.2026 19.0026 11.2418 18.9985 11.2787 18.9862C11.3156 18.974 11.3495 18.9539 11.378 18.9275C11.4065 18.901 11.4289 18.8687 11.4438 18.8328C11.4587 18.7969 11.4657 18.7582 11.4643 18.7193C11.4331 17.7583 11.5997 16.8011 11.9538 15.907C12.3079 15.0129 12.842 14.2009 13.523 13.5213Z"/>
</symbol>
<symbol id="icon_wine" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M9 20H15V10C15 8.89543 14.1046 8 13 8V4H11V8C9.89543 8 9 8.89543 9 10V20Z"/>
</symbol>
<symbol id="icon_winepark" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M13.8571 11.381C13.8571 12.219 13.1714 12.9048 12.3333 12.9048C11.4952 12.9048 10.8095 12.219 10.8095 11.381C10.8095 10.5429 11.4952 9.85714 12.3333 9.85714C13.1714 9.85714 13.8571 10.5429 13.8571 11.381ZM8.52381 9.85714C7.68571 9.85714 7 10.5429 7 11.381C7 12.219 7.68571 12.9048 8.52381 12.9048C9.3619 12.9048 10.0476 12.219 10.0476 11.381C10.0476 10.5429 9.3619 9.85714 8.52381 9.85714ZM16.1429 9.85714C15.3048 9.85714 14.619 10.5429 14.619 11.381C14.619 12.219 15.3048 12.9048 16.1429 12.9048C16.981 12.9048 17.6667 12.219 17.6667 11.381C17.6667 10.5429 16.981 9.85714 16.1429 9.85714ZM14.2381 6.80952C13.4 6.80952 12.7143 7.49524 12.7143 8.33333C12.7143 9.17143 13.4 9.85714 14.2381 9.85714C15.0762 9.85714 15.7619 9.17143 15.7619 8.33333C15.7619 7.49524 15.0762 6.80952 14.2381 6.80952ZM10.4286 6.80952C9.59048 6.80952 8.90476 7.49524 8.90476 8.33333C8.90476 9.17143 9.59048 9.85714 10.4286 9.85714C11.2667 9.85714 11.9524 9.17143 11.9524 8.33333C11.9524 7.49524 11.2667 6.80952 10.4286 6.80952ZM14.2381 12.9048C13.4 12.9048 12.7143 13.5905 12.7143 14.4286C12.7143 15.2667 13.4 15.9524 14.2381 15.9524C15.0762 15.9524 15.7619 15.2667 15.7619 14.4286C15.7619 13.5905 15.0762 12.9048 14.2381 12.9048ZM10.4286 12.9048C9.59048 12.9048 8.90476 13.5905 8.90476 14.4286C8.90476 15.2667 9.59048 15.9524 10.4286 15.9524C11.2667 15.9524 11.9524 15.2667 11.9524 14.4286C11.9524 13.5905 11.2667 12.9048 10.4286 12.9048ZM12.3333 15.9524C11.4952 15.9524 10.8095 16.6381 10.8095 17.4762C10.8095 18.3143 11.4952 19 12.3333 19C13.1714 19 13.8571 18.3143 13.8571 17.4762C13.8571 16.6381 13.1714 15.9524 12.3333 15.9524ZM14.1619 3.91429L13.5524 3C11.8762 3.7619 11.7238 6.50476 11.7238 6.80952H12.8667C12.9429 6.2 13.1714 4.29524 14.1619 3.91429Z"/>
</symbol>
<symbol id="icon_section_a" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M6 17.36L10.896 6H12.96L17.872 17.36H15.44L14.336 14.768H9.488L8.4 17.36H6ZM11.92 9.056L10.352 12.736H13.472L11.92 9.056Z"/>
</symbol>
<symbol id="icon_section_b" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M8 17.36V6H12.16C14.08 6 15.536 7.504 15.536 9.296C15.536 10.176 15.2 10.832 14.64 11.328C15.648 11.824 16.32 12.736 16.32 14.016C16.32 15.904 14.816 17.36 12.8 17.36H8ZM10.32 15.232H12.64C13.52 15.232 14.064 14.688 14.064 13.936C14.064 13.184 13.52 12.624 12.64 12.624H10.32V15.232ZM10.32 10.656H11.936C12.752 10.656 13.28 10.096 13.28 9.392C13.28 8.704 12.752 8.112 11.936 8.112H10.32V10.656Z" />
</symbol>
<symbol id="icon_section_c" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M11.872 17.744C8.624 17.744 6 15.12 6 11.872C6 8.624 8.624 6 11.872 6C14.176 6 16.144 7.216 17.12 9.024L15.104 10.144C14.416 8.976 13.344 8.24 11.872 8.24C9.888 8.24 8.336 9.888 8.336 11.872C8.336 13.856 9.888 15.504 11.872 15.504C13.344 15.504 14.416 14.768 15.104 13.6L17.12 14.72C16.144 16.56 14.192 17.744 11.872 17.744Z" />
</symbol>
<symbol id="icon_section_d" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M7 17.36V6H10.744C14.008 6 16.584 8.512 16.584 11.68C16.584 14.848 14.008 17.36 10.744 17.36H7ZM9.32 15.232H10.744C12.84 15.232 14.248 13.648 14.248 11.68C14.248 9.712 12.84 8.128 10.744 8.128H9.32V15.232Z"/>
</symbol>
<symbol id="icon_section_e" viewBox="0 0 24 24">
<path fill="var(--currentColor)" d="M8 17.36V6H15.072V8.208H10.32V10.544H14.112V12.752H10.32V15.152H15.072V17.36H8Z"/>
</symbol>


<!-- Иконка метки для фотографии -->
<symbol id="placemark_photo">
  <rect width="16" height="16" rx="8" fill="white"/>
  <g filter="url(#filter_placemark_photo)">
  <rect x="4" y="4" width="8" height="8" rx="4" fill="#39AFFF"/>
  </g>
</symbol>

<filter id="filter_placemark_photo" x="0" y="4" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="4"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1333_85013"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1333_85013" result="shape"/>
</filter>

</defs>
</svg>
