.content_hourse
  &:not(.block_list-slider)
    .block--elements
      grid-template-columns: 1fr 1fr
      @media(max-width: 998px)
        display: flex
        flex-direction: column
    .block--pagination
      grid-column: span 1
      @media(max-width: 992px)
        grid-column: span 3
      @media(max-width: 640px)
        grid-column: span 1
