
.swiper-slide,
.card,
.gallery--item,
.card-detail,
.banner-group .banner
  -webkit-transform: translate3d(0, 0, 0)
  -webkit-backface-visibility: hidden

.swiper-wrapper
  -webkit-transform-style: preserve-3d

.swiper--next,
.swiper--prev,
.swiper-button-next,
.swiper-button-prev
  cursor:  pointer
  display: flex
  justify-content: center
  align-items: center
  width: clamp(42px, calc(42px + (56 - 42) * ((100vw - 1024px) / (1920 - 1024))), 56px)
  height: clamp(42px, calc(42px + (56 - 42) * ((100vw - 1024px) / (1920 - 1024))), 56px)
  pointer-events: all
  transition: var(--transition)
  &:after
    font-family: 'icomoon' !important
  &.swiper-button-disabled
    opacity: 0.4
    cursor: auto
    box-shadow: unset !important

.swiper-button-disabled
  pointer-events: none

.swiper-button-prev,
.swiper--prev
  &:after
    content: "\e925"

.swiper-button-next,
.swiper--next
  &:after
    content: "\e926"

.swiper-pagination
  width: fit-content

.swiper-pagination-bullets
  --swiper-pagination-bottom: 12px


