section.block.block_html_code.content_road
  .block--wrapper
    a(href="/"  )
      .road_content
        h2.road_content--title.f-h1 Ваша Дорога <br/>к мечте
        p.road_content--text Наша команда подготовила специальный маршрут, который подойдет как для самостоятельного путешествия, так и для поездки на нашем трансфере с водителем
        .road_content--logo
          img(src="/assets/img/road_logo.svg")
        .road_content--svg
          include ../../../img/road_svg.svg
    .road_image
      img(src="/assets/img/road.jpg")


