.card
  flex-shrink: 0
  flex-grow: 0
  display: flex
  flex-direction: column
  border-radius: var(--border-corner)

.card--content
  display: flex
  flex-direction: column
  gap: 8px
  padding: var(--g-20) 0 0

.card--title,
.card--title > * ,
.card--text,
.card--text p
  text-overflow: ellipsis
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical

.card--title
  font-size: var(--fs-32)
  font-weight: 400
  line-height: 1.33
  letter-spacing: 0.01em

.card--text
  //color: var(--c-text-disabled)
  font-size: var(--fs-16)

.card--image
  display: flex
  align-items: flex-start
  position: relative
  z-index: 1
  aspect-ratio: 1 / 1
  height: auto
  width: 100%
  background-image: url('/upload/card_placeholder.webp')
  background-color: var(--c-surface-subdued)
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  overflow: hidden
  border-radius: var(--border-corner)
.card-detail
  .card--image
    background: unset
.card--label
  display: flex
  flex-wrap: wrap
  gap: 8px
  font-size: var(--fs-14)
  font-weight: 400
  line-height: 1.42
  letter-spacing: -0.28px
  position: absolute
  z-index: 3
  top: 0
  left: 0
  padding: var(--fs-16)
  max-width: calc(100% /2 /2)
  span
    display: flex
    gap: 6px
    white-space: nowrap
    background-color: var(--c-surface-default)
    color: var(--c-text-subdued)
    padding: 10px 10px
    border-radius: 4px
  .c-accent
    &:before
      content: '\e91c'

    color: var(--accent-2)
  .c-accent-2
    color: var(--accent)


.card--action
  display: flex
  align-items: center
  justify-content: center
  color: var(--c-text-primary)
  position: absolute
  right: var(--g-24)
  bottom: var(--g-24)
  z-index: 3
  width: 40px
  height: 40px
  flex-shrink: 0
  span
    z-index: 2
    position: relative
  &:after
    pointer-events: none
    position: absolute
    transition: var(--transition)
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""
    background-color: rgba(20, 26, 37, 0.35)
    backdrop-filter: blur(10px)

.card:not([data-popup_cascade]):not([href])
  div.card--action
    display: none


.card[data-popup_cascade]
  position: relative
  cursor: pointer
  .card--action
    .icon
      font-family: 'icomoon' !important
      &:before
        content: "\e93b"
  .card--image
    &:before
      pointer-events: none
      z-index: 2
      content: ""
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      background-color: rgba(20, 26, 37, 0.35)
      transition: var(--transition)
      opacity: 0
  &:hover,
  &:focus
    .card--action:before
      background-color: rgba(20, 26, 37, 0.35)
    .card--action
      color: var(--c-surface-dark)
      &:after
        transform: rotate(45deg)
        background-color: var(--c-surface-default)
    .card--image:before
      opacity: 1

.card[href]
  position: relative
  cursor: pointer
  .card--action
    .icon
      font-family: 'icomoon' !important
      &:before
        content: "\e926"
  .card--image
    &:before
      z-index: 2
      content: ""
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      background-color: rgba(20, 26, 37, 0.35)
      transition: var(--transition)
      opacity: 0
  &:hover,
  &:focus
    .card--action:before
      background-color: rgba(20, 26, 37, 0.35)
    .card--action
      color: var(--c-surface-dark)
      &:after
        transform: rotate(45deg)
        background-color: var(--c-surface-default)
    .card--image:before
      opacity: 1


.content_hourse
  .card
    background-color: #F2F5FA
    display: grid
    grid-template-columns: repeat(2, 1fr)
    &--image
      aspect-ratio: auto
    &--content
      padding: 24px
    &--title h3
      -webkit-line-clamp: 2
      font-size: 32px
      font-weight: 500
      //color: var( --c-text-subdued)
    &--subtitle
      color: var( --c-text-subdued)
      font-size: var(--fs-16)
    &--text
      font-size: var(--fs-20)
      padding-bottom: 12px
      border-bottom: 1px solid rgba(17, 24, 32,0.4)
      p
        text-overflow: ellipsis
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
    &--info
      padding: 12px 0
      display: flex
      flex-direction: column
      gap: 12px
      & > *
        display: flex
        align-items: baseline
        //justify-content: space-between
        &:before
          content: ''
          border-bottom: 1px dashed #cccccc
          flex-grow: 1
          order: 1
          margin: 0 5px
        p:first-child
          color: var( --c-text-subdued)
        p + p
          order: 2
    &--actions
      .button
        width: 100%
    &--label





.content_blog,
.content_news,
.content_gallery
  @media(max-width: 768px)
    &.block_list.ac-bock_list-columns-2 .block--elements
      display: grid
      .card--content,
      .card--label
        padding: 8px
      .card--action
        display: none
      .card--title
        font-size: 16px
      .block--pagination
        grid-column: span 2
  .card
    position: relative
    aspect-ratio: 423 / 533
    cursor: pointer
    width: 100%
    height: auto
    max-height: 533px
    align-self: start
    &:hover,
    &:focus
      .card--action:before
        background-color: rgba(20, 26, 37, 0.35)
      .card--action
        color: var(--c-surface-dark)
        &:after
          transform: rotate(45deg)
          background-color: var(--c-surface-default)
      .card--image
        &:before
          opacity: 1
    .card--action
      right: var(--fs-24)
      bottom: var(--fs-24)
    .card--title
      font-family: 'SangBleuKingdom'
      font-size: var(--fs-24)
        -webkit-line-clamp: 3
    .card--text
      color: var(--c-text-primary)
      opacity: 0.8
      text-overflow: ellipsis
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
    .card--content
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 100%
      color: var(--c-text-primary)
      z-index: 3
      justify-content: flex-end
      padding: var(--fs-24) calc(var(--g-24) * 2 + 40px) var(--fs-24) var(--fs-24)
    .card--image
      width: 100%
      max-width: 100%
      aspect-ratio: 423 / 533
      &:after
        content: ""
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        background: linear-gradient(to top, rgba(20, 26, 37, 0.45) 0%, rgba(20, 26, 37, 0.0) 74%)
        z-index: 2
        pointer-events: none
      &:before
        z-index: 2
        content: ""
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        background-color: rgba(20, 26, 37, 0.35)
        transition: var(--transition)
        opacity: 0
        pointer-events: none


.content_offers
  .card
    display: grid
    grid-template-columns: 44% 56%
    max-width: calc((100% - 24px * 3) / 4 * 3 + 48px)
    @media(max-width: 992px)
      display: flex
      flex-direction: column-reverse
      max-width: 100%
  .card--content
    background-color: var(--c-text-default)
    color: var(--c-text-primary)
    display: grid
    grid-template-columns: 3fr 1fr
    grid-template-areas: 'title title' 'label actions' 'text actions'
    grid-template-rows: 1fr
    padding: 0
    gap: 0
    @media(max-width: 992px)
      flex-grow: 1
  .card--title
    grid-area: title
    padding: var(--g-card-inner)
    color: #FCF8F3
    font-family: 'SangBleuKingdom'
    font-size: var(--fs-38)
    font-weight: 300
    line-height: 1.3
    letter-spacing: -0.02em
    text-transform: uppercase
    border-bottom: 1px solid rgba(250, 251, 251, 0.10)
    @media(max-width: 768px)
      line-height: 1.5
  .card--label
    position: static
    grid-area: label
    padding: var(--fs-24) var(--g-card-inner)
    border-bottom: 1px solid rgba(250, 251, 251, 0.10)
    font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024))), 16px)
    text-transform: uppercase
    color: rgba(#FAFBFB, 0.5)
    span.js-timer
      background-color: transparent
      color: var(--c-text-primary)
      padding: 0
  .card--text
    grid-area: text
    padding: var(--g-card-inner)
    font-size: clamp(14px, calc(14px + (20 - 14) * ((100vw - 1024px) / (1920 - 1024))), 20px)
    color: var(--c-text-primary)
    line-height: 1.4
  .card--actions
    border-left: 1px solid rgba(250, 251, 251, 0.10)
    grid-area: actions
    display: flex
    flex-direction: column
  .card--action
    display: flex
    flex: 1 1 50%
    align-items: center
    justify-content: center
    position: relative
    width: auto
    height: auto
    right: 0
    bottom: 0
    top: 0
    left: 0
    font-size: var(--fs-24)
    min-height: 80px
    &:after
      display: none
    &:first-child
      border-bottom: 1px solid rgba(250, 251, 251, 0.10)
    &-calendar
      transition: var(--transition)
      background: transparent
      color: #F5E5D9
      .icon-HeaderCalendar
        transition: var(--transition)
      &:hover,
      &:focus
        background: linear-gradient(to right, #F5E5D9, #EBC4A8)
        color: var(--c-text-default)
    .icon-ic-lg-link
      transform: rotate(0deg)
      transition: var(--transition)
      transform-origin: center
      opacity: 0.35
    &:hover,
    &:focus
      &:first-child
        background-color: rgba(250, 251, 251, 0.1)
      .icon-ic-lg-link
        transform: rotate(45deg)
        opacity: 1


  .card--image
    aspect-ratio: initial
    &:after,
    &:before
      display: none

.content_events
  .card[href]
    background-color: var(--c-surface-subdued)
    aspect-ratio: initial
    display: grid
    grid-template-columns: 37% 63%
    place-content: start
    grid-template-rows: auto  1fr
    position: relative
    &:hover,
    &:focus
      background-color: #ECEDEE
    .card--image
      display: flex
      overflow: hidden
      aspect-ratio: 1 / 1
      max-width: 360px
      height: auto
      align-self: flex-start
      &:before,
      &:after
        display: none
    .card--date
      padding: var(--g-card-inner) 16px
      background-color: var(--c-surface-dark)
      color: var(--c-text-primary)
      font-family: 'SangBleuKingdom'
      font-weight: 300
      letter-spacing: -0.02em
      text-transform: uppercase
      font-size: var(--fs-20)
      white-space: break-spaces
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      gap: 12px
      aspect-ratio: 213 / 292
      height: auto
      strong
        font-size: var(--fs-60)
        width: 1.4em
        text-align: center
    .card--title
      padding: var(--g-card-inner) var(--g-card-inner) var(--g-card-inner_s)
      color: var(--c-text-default)
      gap: 1.3em
      display: flex
      align-items: flex-start
      flex: 1 1 50%
      justify-content: space-between
      h3
        font-size: var(--fs-32)
        line-height: 1.25
        letter-spacing: -2%
      .card--action
        position: relative
        right: 0
        top: 0
        transition: var(--transition)
        transform: rotate(0)
        transform-origin: center
        &:after
          background-color: transparent
        & .icon:before
          color: var(--c-text-default)
          content: "\e92f"
          font-size: 1em
          line-height: 1.25em
    .card--content
      grid-column: span 2
      position: static
      color: var(--c-text-default)
      padding: 0
      gap: 0
      align-self: flex-start
      height: 100%
    .card--text
      flex: 1 1 50%
      padding: 0 var(--g-card-inner) var(--g-card-inner_s)
      color: var(--c-text-default)
      &_item
        padding: var(--g-20) 0
        text-transform: uppercase
        display: grid
        grid-template-columns: 1fr 1fr
        font-size: var(--fs-16)
        letter-spacing: 0.02em
        &:first-child
          border-bottom: 1px solid var(--c-border-default)
    &:focus,
    &:hover
      .card--action
        transform: rotate(45deg)

.content_reviews
  .card--image
    aspect-ratio: 423 / 512
    &:before
      display: none
    video, img
      aspect-ratio: 423 / 512
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
    video
      cursor: pointer
    &:has(video)
      &:after
        content: "\e934"
        font-family: icomoon
        z-index: 2
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%)
        color: var(--c-text-primary)
        font-size: var(--fs-56)
        opacity: 1
        transition: var(--transition)
      &:hover
        &:after
          opacity: 0
  .card--text,
  .card--text p
    color: var(--c-text-subdued)

.review_author
  display: flex
  gap: 8px
  align-items: center
  justify-content: flex-start
  margin-bottom: 12px
  &--image
    width: 40px
    height: 40px
    border-radius: 50%
    overflow: hidden
  &--name
    font-size: var(--fs-16)



@media(max-width: 768px)
  .block_list:not(.block_list-slider).ac-bock_list-columns-2 .block--elements
    display: grid
    .card--content,
    .card--label
      padding: 8px
    .card--action
      display: none
    .card--title
      font-size: 16px
    .block--pagination
      grid-column: span 2
