extends ../layouts/breadcrumbs

block variables
  - var title = "404"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.block.content_404
    .block--wrapper
      .block--head
        .block--head_title
          h1 404
        .block--head_caption
          p К сожалению такой страницы пока не существует!
      .block--actions
        a.button.button-filled.button-accent(href="/")
          span На главную
