extends ../layouts/breadcrumbs

block variables
  - var title = "404"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.block.content_404
    .block--wrapper
      .block--head
        .block--head_title
          h1 404
        .block--head_caption
          p Запрашиваемая<br> страница не найдена
        .block--actions
          a.button.button-outlined.button-accent(href="/")
            span.icon-arrow-l
            span На главную
