extends ../layouts/breadcrumbs

block variables
  - var title = "Контакты"
  - var pageClass = 'page-contacts'
  - var activePage = 'index'

block content
  // форма дефолт
  section.block.block_list.content_form
    .block--wrapper
      .block--content
        .block--head
          .block--head_subtitle
            p каталог лошадей
          .block--head_title
            h2.f-h2 Свяжитесь  с нами
          .block--head_caption
            p Примите участие в незабываемом соревновании и продемонстрируйте свои навыки наездника
        .contact
          .contact--item
            .contact--title Телефон
            .contact--value
              a(href="/") 8 (495) 419-96-90
          .contact--item
            .contact--title E-MAIL
            .contact--value
              a(href="/") info@kskivanovskoe.ru
          .contact--item.adress
            .contact--title АДРЕС
            .contact--value
              p 142432, 45км. Московская обл, Ногинский район, село Ивановское, ул. Луговая, д. 23
      .block--form
        form.form
          input(type="hidden" value="" name="fields[form]")
          input(type="hidden" value="")
          fieldset
            label.form--input
              input(type="text" placeholder="Иванов Иван Иванович" name="fields[name]" pattern="[А-Яа-яЁё]+" required autocomplete)
              span Ваше имя
              .form--input_error Ошибка заполнения
            label.form--input
              input(type="tel" placeholder="+7 999 999-99-99" name="fields[phone]" inputmode="numeric" autocomplete="tel" required)
              span Телефон
              .form--input_error Ошибка заполнения
            label.form--input
              input(type="email" placeholder="example@imperial.ru" name="fields[email]"  autocomplete="email" required)
              span Email
              .form--input_error Ошибка заполнения
            label.form--input
              textarea(placeholder="Введите комментарий" name="fields[email]" rows="2" maxlength="1000")
              span Комментарий
              .form--input_error Ошибка заполнения
            .form--button
              button.button.button-filled.button-primary(type="submit" disabled)
                span Отправить
              .confirmation
                span.access  Ваша заявка <br> успешно отправлена!
                span.error Ваша заявка не была отправлена,<br> попробуйте еще раз
            p.form--policy Нажимая кнопку, вы соглашаетесь с
              a(href="") политикой конфиденциальности


  // блок как проехать
  section.block.block_html_code.content.content_road_map.js-tabs
    .block--wrapper
      .block--head
        .block--head_subtitle
          p
        .block--head_title
          h2.f-h2 как проехать
        .block--head_caption
          p
      .block--sections
        .block--sections_container
          button(data-target='1').is_active
            span По Щелковскому шоссе
          button(data-target='2')
            span По Ярославскому шоссе
          button(data-target='3')
            span По горьковскому шоссе
      .block--elements
        .block--content
          .item(data-content='1')
            .item--title По Щелковскому шоссе
            .item--text.is_cascade
              p По Щелковскому шоссе до Малого Московского кольца — «бетонки» А-107. На светофоре около заправки “Лукойл” повернуть налево в сторону “Софрино”. Через два километра после поворота — развилка, нужно держаться правой стороны - поворот на "Макарово".
              p Едем по главной дороге до указателя - "Ивановское". Едем до конца деревни, до шлагбаума, после поворачиваем направо, проезжаем второй шлагбаум, через 100 метров въезд на парковку.
              a.button.button-filled.button-primary(href='' target=_blank)
                span Проложить маршрут
                span.icon-external
          .item(data-content='2')
            .item--title По Ярославскому шоссе
            .item--text.is_cascade
              p По Щелковскому шоссе до Малого Московского кольца — «бетонки» А-107. На светофоре около заправки “Лукойл” повернуть налево в сторону “Софрино”. Через два километра после поворота — развилка, нужно держаться правой стороны - поворот на "Макарово".
              a.button.button-filled.button-primary(href='' target=_blank)
                span Проложить маршрут
                span.icon-external
          .item(data-content='3')
            .item--title По горьковскому шоссе
            .item--text.is_cascade
              p По Щелковскому шоссе до Малого Московского кольца — «бетонки» А-107. На светофоре около заправки “Лукойл” повернуть налево в сторону “Софрино”. Через два километра после поворота — развилка, нужно держаться правой стороны - поворот на "Макарово".
              p Едем по главной дороге до указателя - "Ивановское". Едем до конца деревни, до шлагбаума, после поворачиваем направо, проезжаем второй шлагбаум, через 100 метров въезд на парковку.
              p Едем по главной дороге до указателя - "Ивановское". Едем до конца деревни, до шлагбаума, после поворачиваем направо, проезжаем второй шлагбаум,
              a.button.button-filled.button-primary(href='' target=_blank)
                span Проложить маршрут
                span.icon-external
        .block--map
          <script src="https://api-maps.yandex.ru/2.1/?apikey=22b5f2f9-12ee-4b1b-81ee-75a0df083d31&lang=ru_RU" type="text/javascript"></script>
          .map#map_road
  section.block.block_list.content_faq
    .block--wrapper
      .block--head
        .block--head_subtitle
          p каталог лошадей
        .block--head_title
          h2.f-h2 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
        .block--head_caption
          p В своём стремлении улучшить пользовательский опыт мы упускаем, что независимые государства являются только методом политического участия и своевременно верифицированы.
        .block--actions
          a(href="/").button.button-filled.button-primary
            span Свяжитесь с нами

      .block--elements
        .is_cascade
          +accordion-list('Спортсменам','loremloremloremloremloremloremloremlorem')
          +accordion-list('Коневозам','loremloremloremloremloremloremloremlorem')
          +accordion-list('Спортсменам','loremloremloremloremloremloremloremlorem')
          +accordion-list('Коневозам','loremloremloremloremloremloremloremlorem')
          +accordion-list('Спортсменам','loremloremloremloremloremloremloremlorem')


