extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content


  // главный баннер
  section.block.block_banner.block_banner-hero
    .block--wrapper
      .banner
        .block--content
          //img(src="/assets/img/bg.jpg")
          video(src="/assets/video/1.mp4" playsinline muted autoplay loop)
        .block--head
          .block--head_subtitle
            p Территория конного спорта
          .block--head_title
            h1.f-h1 Календарь событий 2024
          .block--head_caption
            p Приглашаем принять участие в соревнованиях в Horseka Sport. Изучите календарье мероприятий
          .block--actions
            a(href='https://lk.horsekasport.ru/').button.button-filled.button-accent
              span Личный кабинет
              span.icon-external
          //  a(href="/").button.button-filled.button-primary
          //    span Переход

  // ANIMATION
  section.block.block_html_code.content_animation
    .block--wrapper
      .animation--row.animation--row-1
        .animation--content
          .animation--title Новая
        .animation--image
          img(src="/assets/img/animation/1-1.jpg")
      .animation--row.animation--row-2
        .animation--content
          .animation--title территория
      .animation--row.animation--row-3
        .animation--image
          img(src="/assets/img/animation/2-2.jpg")
        .animation--content.animation--row-3
          .animation--title спорта
          .animation--subtitle
            p Конно-спортивный клуб европейского уровня, где созданы самые комфортные условия для активного отдыха и занятий спортом.
      .animation--row.animation--row-4
        .animation--image
          img(src="/assets/img/animation/3-3.jpg")
  // Преимущества
  section.block.block_html_code.content_advantages-2
    .block--wrapper
      .block--head
        .block--head_subtitle
          p преимущества комплекса
        .block--head_title
          h2.f-h1 мы предлагаем
        .block--head_caption
          p

      .block--elements
        .card.advantages-1
          .card--image
            img(src="/assets/img/advantages/advantages-back-1.jpg")
          img.image-front(src="/assets/img/advantages/advantages-front-1.png")
          .card--content
            .card--title
              h3 30 гектаров<br>территории
            .card--text
              p Просторная территория для занятий конным спортом, развлечений и отдыха
        .card.advantages-2
          .card--image
            img(src="/assets/img/advantages/advantages-back-2.jpg")
          img.image-front(src="/assets/img/advantages/advantages-front-2.png")
          .card--content
            .card--title
              h3 Современное<br>оснащение
            .card--text
              p 4 поля, 3 манежа, 10 конюшен и конюшни на выбор в соответствии с вашими желаниями и предпочтениями
        .card.advantages-3
          .card--image
            img(src="/assets/img/advantages/advantages-back-3.jpg")
          img.image-front(src="/assets/img/advantages/advantages-front-3.png")
          .card--content
            .card--title
              h3 крупнейшие<br> соревнования и турниры
            .card--text
              p Участвуйте во всероссийских и международных соревнованиях, демонстрируйте свои навыки и таланты
        .card.advantages-4
          .card--image
            img(src="/assets/img/advantages/advantages-back-4.jpg")
          img.image-front(src="/assets/img/advantages/advantages-front-4.png")
          .card--content
            .card--title
              h3 Экспертный<br>состав тренеров
            .card--text
              p Учитесь у профессионального тренерского состава, который поможет вам достичь ваших целей и осуществить мечты


  // Карточки события
  section.block.block_list.content_events#events
    .block--wrapper
      .block--head
        .block--head_subtitle
          p
        .block--head_title
          h2.f-h1 ближайшие<br> турниры
        .block--head_caption
          p Почувствуйте азарт турниров по верховой езде! Узнайте актуальное расписание, коэффициенты и результаты ближайших событий на площадках Horseka Sport!
        //.block--head_link
        //  a.button(href='')
        //    span календарь
        //    span.icon-arrow-r


      .block--elements
        a.card(href="https://lk.horsekasport.ru/")
          .card--image
            img(src="/assets/img/event2.jpg")
          .card--content
            .card--subtitle
              span с 06.06.2024 по 09.06.2024
              span
            .card--title
              h3 Открытые соревнования по конкуру, Этап кубка "Мaxima masters Евразия
            .card--text
              p
                //a.button.button-link.button-secondary(href='https://drive.google.com/file/d/1DO-eeH_CeBAhi-spMvLeABhFnasCsEx5/view') Положение и регламент
            .card--label
              span.label-tourney Региональная серия
              span.label-money 1 500 000 ₽
              span.label-horse Конкур
            .card--actions
              .button.button-outlined.button-accent
                span.icon-arrow-r
        a.card(href="https://lk.horsekasport.ru/")
          .card--image
            img(src="/assets/img/events/2.webp")
          .card--content
            .card--subtitle
              span с 07.06.2024 по 09.06.2024
              span
            .card--title
              h3 Кубок «HORSEKA», 2 этап
            .card--text
              p
                //a.button.button-link.button-secondary(href='https://drive.google.com/file/d/1DO-eeH_CeBAhi-spMvLeABhFnasCsEx5/view') Положение и регламент
            .card--label
              span.label-tourney Региональная серия
              span.label-money 300 000 ₽
              span.label-horse Конкур
            .card--actions
              .button.button-outlined.button-accent
                span.icon-arrow-r
        a.card(href="https://lk.horsekasport.ru/")
          .card--image
            img(src="/assets/img/events/1.webp")
          .card--content
            .card--subtitle
              span 27.06.24 - 30.06.24
              span
            .card--title
              h3 Соревнование по конкуру "HORSEKA DERBY"
            //.card--text
            //  p
            .card--label
              //span.label-tourney Международная серия турниров
              //span.label-money 200 000 ₽
              span.label-horse Конкур
            .card--actions
              .button.button-outlined.button-accent
                span.icon-arrow-r
  // Карточки базовые слайдер V2
  section.block.block_list.block_list-slider.block_list-slider-v2
    .block--wrapper
      .block--head
        .block--head_subtitle
          p гордимся и ценим
        .block--head_title
          h2.f-h2 звезды нашего клуба
        .block--head_caption
          p Почувствуйте азарт турниров по верховой езде! Узнайте актуальное расписание, коэффициенты и результаты ближайших событий на площадках Horseka Sport!

      .block--elements
        .card
          .card--image
            img(src="/assets/img/sportsmen/1.jpg")
          .card--content
            .card--label
              span.c-accent Horseka Рекомендует
              span.c-accent-2 Novice
            .card--title
              h3 Алена Велькина
            .card--text
              p
            .card--actions
              .button.button-outlined.button-primary
                span Подробнее
        .card
          .card--image
            img(src="/assets/img/sportsmen/5.jpg")
          .card--content
            //.card--label
            //  span.c-accent Horseka Рекомендует
            //  span.c-accent-2 Novice
            .card--title
              h3 Лукина Олеся
            .card--text
              p
            .card--actions
              .button.button-outlined.button-primary
                span Подробнее
        .card
          .card--image
            img(src="/assets/img/sportsmen/2.jpg")
          .card--content
            .card--label
              span.c-accent Horseka Рекомендует
              span.c-accent-2 Novice
            .card--title
              h3 Мамина Диана
            .card--text
              p
            .card--actions
              .button.button-outlined.button-primary
                span Подробнее
        .card
          .card--image
            img(src="/assets/img/sportsmen/3.jpg")
          .card--content
            .card--label
              span.c-accent Horseka Рекомендует
              span.c-accent-2 Novice
            .card--title
              h3 Петров Сергей
            .card--text
              p
            .card--actions
              .button.button-outlined.button-primary
                span Подробнее
        .card
          .card--image
            img(src="/assets/img/sportsmen/4.jpg")
          .card--content
            .card--label
              span.c-accent Horseka Рекомендует
              span.c-accent-2 Novice
            .card--title
              h3 Седова Татьяна
            .card--text
              p
            .card--actions
              .button.button-outlined.button-primary
                span Подробнее

  // галерея слайдер с ОДНОЙ активной картинкой
  section.block.block_element.content_gallery
    .block--wrapper
      .block--head
        .block--head_subtitle
          p
        .block--head_title
          h2.f-h1 галерея
        .block--head_caption
          p
      .block--content
        .gallery.js-gallerySwiper.gallerySwiper-v3
          +gallery--item("/assets/img/g1.jpg", "подпись к картинке")
          +gallery--item("/assets/img/g2.jpg", "подпись к картинке")
          +gallery--item("/assets/img/g3.jpg", "подпись к картинке")
          +gallery--item("/assets/img/g4.jpg", "подпись к картинке")
  // ANIMATION
  section.block.block_html_code.content_animation-3
    .block--wrapper
      .animation--row.animation--row-1
        .animation--content
          .animation--title Не только спорт
      .animation--row.animation--row-2
        .animation--content
          .animation--title но и комфорт
  // продумано для гостей
  section.block.block_html_code.content_services.ac-background-3.js-tabs
    .block--wrapper
      .block--head
        .block--head_subtitle

        .block--head_title
          h2.f-h2 продумано для гостей
        .block--head_caption
          a(href='https://horseka.ru/')
            img(src="/assets/img/logo/logo-white.svg")

      .block--sections
        .block--sections_container
          button.is_active(data-target='rooms')
            span Номера и апартаменты
          button(data-target='restaurant')
            span Рестораны и бары
          button(data-target='spa')
            span Бани и SPA
          button(data-target='kids')
            span для детей

      .block--elements
        .item(data-content='rooms')
          .item--image
            img(src="https://horseka.ru/wp-content/uploads/2022/07/Horseka-rooms-014-1.jpg")
          .item--content
            .item--title
              h3 Номера <br>и апартаменты
            .item--text
              p На большой территории отеля в Московской области расположилась полноценная инфраструктура для загородной жизни, отдыха, развлечений и спорта.
            .is_cascade
              p Гармония природы и загородного комфорта в часе езды от Москвы по Щелковскому шоссе. Вековые сосны в лесу в сочетании с продуманной инфраструктурой отеля, где есть все для семейного отдыха. Высокий уровень сервиса в любое время года!
            .item--actions
              .item--actions
                a(href='https://horseka.ru/accommodation/').button.button-filled.button-accent
                  span.icon-external
                  span Подробнее
        .item(data-content='restaurant')
          .item--image
            img(src="https://horseka.ru/wp-content/uploads/2024/01/sergeykondratev-1.jpg")
          .item--content
            .item--title
              h3 Рестораны <br>и бары
            .item--text
              p Коллекция лучших рецептов европейской и русской кухни от шефа в Horseka Resort
            .is_cascade
              p К услугам гостей светлые и просторные залы ресторана, открытая летняя веранда, где приятно выпить чашечку фирменного кофе, съесть легкий перекус или посидеть на свежем воздухе с бокалом вина перед ужином. Любой формат, любое количество гостей, любой выбор блюд — неизменно только высокое качество кухни, сервиса и обслуживания.
            .item--actions
              .item--actions
                a(href='https://horseka.ru/restaurants/').button.button-filled.button-accent
                  span.icon-external
                  span Подробнее
        .item(data-content='spa')
          .item--image
            img(src="https://horseka.ru/wp-content/uploads/2024/04/bani-1.jpg")
          .item--content
            .item--title
              h3 Бани <br>и SPA
            .item--text
              p  Пространство для отдыха и релакса
            .is_cascade
              p Уединенная Spa-зона позволит проникнуться спокойствием природы и тишиной, прерываемой лишь пением птиц, чистейшим звуком воды и шелестом деревьев.
              p Погрузитесь в мир русского банного искусства. Вдохните аромат свежесрубленных дров, почувствуйте теплую обволакивающую волну пара, отпустите напряжение и заботы.
            .item--actions
              .item--actions
                a(href='https://horseka.ru/').button.button-filled.button-accent
                  span.icon-external
                  span Подробнее
        .item(data-content='kids')
          .item--image
            img(src="https://horseka.ru/wp-content/uploads/2024/03/city.jpg")
          .item--content
            .item--title
              h3 ДЛЯ ДЕТЕЙ
            .item--text
              p На большой территории отеля в Московской области расположилась полноценная инфраструктура для загородной жизни, отдыха, развлечений и спорта.
            .is_cascade
              p Horseka Kids — это не просто детская площадка: это целый город детства и веселья!  Тут дети могут не только отлично и задорно провести время, но и научиться новому. Территория Horseka kids включает в себя:
              ul
                li любимую всеми зооферму с милыми животными
                li тематический интерактивный клуб
                li залы мастер-классов
                li современный зал для проведения детских мероприятий и праздников.
            .item--actions
              .item--actions
                a(href='https://horseka.ru/what2do/kids/').button.button-filled.button-accent
                  span.icon-external
                  span Подробнее
  section.block.block_html_code.content_contacts
    .block--wrapper
      .block--content
        h2.f-h2 Контакты
        .contact
          .contact--item
            .contact--title Телефон
            .contact--value
              a.button.button-link.button-secondary(href="tel:+74951538039") +7 495 153 80 39
          .contact--item
            .contact--title E-MAIL
            .contact--value
              a.button.button-link.button-secondary(href="mailto:info@kskivanovskoe.ru") info@kskivanovskoe.ru
          //a.button.button-link.button-accent
          //  span Заказать звонок
          //  span.icon-arrow-r
          .contact--item.adress
            .contact--title АДРЕС
            .contact--value
              p 45 км. Московская область, Ногинский район, село Ивановское. Луговая д. 23
          //a.button.button-link.button-accent(href="/")
          //  span Как доехать
          //  span.icon-arrow-r
      .block--map
        .block--map-container
          <script src="https://api-maps.yandex.ru/2.1/?apikey=48d87ef4-a099-4095-af51-20f442e126c6&lang=ru_RU" type="text/javascript"></script>
          #map
