extends ../layouts/breadcrumbs-hero

block variables
  - var title = "Разводящая - offers"
  - var pageClass = 'page-parent'
  - var activePage = 'index'

block content
  section.block.block_banner.banner-hero
    .block--wrapper
      .banner
        .block--content
          img(src="/assets/img/accomodation_bg.jpg")
        +block--head("","Спецпредложения")
  section.block.block_list.content_offers
    .block--wrapper
      .block--sections
        a.is_active(href="" data-section_id="") Все
        a(href="" data-section_id="") Номера
        a(href="" data-section_id="") Рестораны и бары
        a(href="" data-section_id="") Spa и бассейны
      .block--elements
        +card--offer('Бронирование вилл с выгодой 40%', 'Включена оздоровительная программа от Института Активного Долголетия', '/assets/img/offer.jpg')
        .card
          .card--content
            .card--title
              h3 Бронирование вилл с выгодой 40%
            .card--label До завершения  01 : 12 : 30
            .card--text
              p Включена оздоровительная программа от Института Активного Долголетия
            .card--actions
              a.card--action(href="")
                span.icon-ic-lg-link
          .card--image
            img(src="/assets/img/offer.jpg" alt="")
        .block--pagination
          a.button.button-outlined.button-secondary(href="/") Показать еще
