html
  --c-surface-default: #fff
  --c-surface-subdued: #FAFAFB
  --c-surface-subdued-hovered: #E0E1E3
  --c-surface-dark: #111820
  --c-surface-dark-secondary: #141A25
  --c-surface-primary: #F4EEEB
  --c-surface-primary-hovered: #D3BBAE

  --c-text-default: #111820
  --c-text-subdued: #404B57
  --c-text-disabled: #AAADB1
  --c-text-primary: #FFFFFF
  --c-text-accent-default: #94583A
  --c-text-accent-hovered: #683E29
  --c-text-critical: #B81818

  --c-bck-dark-blue: #052360
  -c-bck-green: #055152

  --c-border-default: #C4C6C9
  --c-border-subdued: #ECEDEE
  --c-border-hovered: #141A25
  --c-border-primary-default: #C19E8D
  --c-border-primary-subdued: #D3BBAE
  --c-border-primary-hovered: #94583A
  --c-border-others: #E0E1E3

  --border-corner: 16px
  --border-corner-button: 50px
  --border-corner-input: 4px

  --c-critical: #B81818
  --c-success: #08AA66
  --c-warning: #E5B408

  --accent: #093282
  --accent-2: #FC563B

  --g-container-vertical: clamp(32px, calc(32px + (80 - 32) * ((100vw - 375px) / (1920 - 375))), 80px)
  --g-container: clamp(20px, calc(20px + (80 - 20) * ((100vw - 375px) / (1920 - 375))), 80px)
  --g-section-inner: clamp(16px, calc(16px + (56 - 16) * ((100vw - 1024px) / (1920 - 1024))), 56px)
  --g-card-inner: clamp(24px, calc(24px + (64 - 24) * ((100vw - 1024px) / (1920 - 1024))), 64px)
  --g-card-inner_s: clamp(16px, calc(16px + (48 - 16) * ((100vw - 1024px) / (1920 - 1024))), 48px)
  --g-24: 24px
  --g-20: 20px
  --g-32: clamp(16px, calc(16px + (32 - 16) * ((100vw - 1024px) / (1920 - 1024))), 32px)
  --g-elements: clamp(8px, calc(8px + (24 - 8) * ((100vw - 1024px) / (1920 - 1024))), 24px)
  --g-content: clamp(24px, calc(24px + (48 - 24) * ((100vw - 1024px) / (1920 - 1024))), 48px)
  --g-section: clamp(56px, calc(56px + (120 - 56) * ((100vw - 1024px) / (1920 - 1024))), 120px)
  --g-content_cards: clamp(32px, calc(32px + (118 - 32) * ((100vw - 1024px) / (1920 - 1024))), 118px)
  --g-80: clamp(24px, calc(24px + (80 - 24) * ((100vw - 1024px) / (1920 - 1024))), 80px)
  --g-149: clamp(20px, calc(20px + (148 - 20) * ((100vw - 768px) / (1920 - 768))), 148px)

  --fs-14: clamp(12px, calc(12px + (14 - 12) * ((100vw - 1024px) / (1920 - 1024))), 14px)
  --fs-16: 16px
  --fs-18: clamp(16px, calc(16px + (18 - 16) * ((100vw - 1024px) / (1920 - 1024))), 18px)
  --fs-20: clamp(16px, calc(16px + (20 - 16) * ((100vw - 1024px) / (1920 - 1024))), 20px)
  --fs-24: clamp(18px, calc(18px + (24 - 18) * ((100vw - 1024px) / (1920 - 1024))), 24px)
  --fs-28: clamp(20px, calc(20px + (28 - 20) * ((100vw - 1024px) / (1920 - 1024))), 28px)
  --fs-32: clamp(20px, calc(20px + (32 - 20) * ((100vw - 1024px) / (1920 - 1024))), 32px)
  --fs-38: clamp(20px, calc(20px + (38 - 20) * ((100vw - 1024px) / (1920 - 1024))), 38px)
  --fs-56: clamp(20px, calc(20px + (56 - 20) * ((100vw - 1024px) / (1920 - 1024))), 56px)
  --fs-60: clamp(20px, calc(20px + (60 - 20) * ((100vw - 1024px) / (1920 - 1024))), 60px)

  --transition: 0.18s ease-out
