@font-face
  font-family: 'Gilroy'
  font-weight: 600
  font-style: normal
  src: url("../fonts/Gilroy/Gilroy-Black.ttf") format('truetype')
@font-face
  font-family: 'Gilroy'
  font-weight: 500
  font-style: normal
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format('truetype')

@font-face
  font-family: 'InterVariable'
  //font-weight: 300
  font-style: normal
  src: url("../fonts/InterVariable/InterVariable.ttf") format('opentype')

html
  font-size: clamp(16px, calc(16px + (18 - 16) * ((100vw - 1024px) / (1920 - 1024))), 18px)
  line-height: 1.25
  font-family: 'InterVariable', sans-serif
  font-weight: 500
  letter-spacing: -0.02em
  color: var(--c-text-default,#141A25)
  text-size-adjust: none
  -webkit-text-size-adjust: none


.f-h1
  font-size: clamp(40px, calc(40px + (148 - 40) * ((100vw - 1024px) / (1920 - 1024))), 148px)



.f-h2
  font-size: clamp(56px, calc(56px + (96 - 56) * ((100vw - 1024px) / (1920 - 1024))), 96px)

.f-h3
  font-size: clamp(32px, calc(32px + (72 - 32) * ((100vw - 1024px) / (1920 - 1024))), 72px)
.f-h4
  font-size: clamp(28px, calc(28px + (52 - 28) * ((100vw - 1024px) / (1920 - 1024))), 52px)
.f-h2

h1,h2,h3,h4,h5,h6
  font-weight: 500
  font-family: 'Gilroy'
  line-height: 1

