.is_cascade
  h2
  h3
  h4
  h5
  h6
  p
  p
    a(href="" target="_blank")
  ul
    li
    li
    li
  ol
    li
    li
    li
  figure
    img
  figure
    img
    figcaption
  figure
    video
  blockquote
  strong
  .accordion
  .is_cascade__slider

