.block.block_html_code.content_map_around
  .block--wrapper
    +block--head("Subtitle","Title for this page","Sit diam aliquam semper faucibus molestie habitasse pulvinar.")
    .block--content
      .map#map_places
        <script src="https://api-maps.yandex.ru/2.1/?apikey=81613f3b-86da-4422-8447-13da4a24a196
        | &lang=ru_RU" type="text/javascript"></script>
        .popup.popup--balloon(data-popup="popup_for_balloon")
          .popup__content
            .popup__close
              button.button.button-filled.button-primary(data-closepopup)
                span.icon-ic24-close
            .balloon
              .balloon--image
                img(src="")
              .balloon--wrapper
                .balloon--content
                  .balloon--title
                  .balloon--text
                  a.button.button-filled.button-accent(href="") Подробнее
      <svg class="svg" style="position: absolute; width:0;height:0;">
      <clipPath id="placemark_clip_path" clipPathUnits="objectBoundingBox">
      <path d="M0.55,0.798 C0.803,0.778,1,0.607,1,0.4 C1,0.179,0.776,0,0.5,0 C0.224,0,0,0.179,0,0.4 C0,0.607,0.197,0.778,0.45,0.798 V0.96 C0.45,0.982,0.472,1,0.5,1 C0.528,1,0.55,0.982,0.55,0.96 V0.798">
      </path>
      </clipPath>
      </svg>
