section.block.block_html_code.content_links
  .links
    .block--head
      .block--head_subtitle
        p чем заняться
    .links_item(data-filter="1")
      a.links_item--button(href="")
        p Парки
        span.icon-ic-lg-chevron-right
    .links_item(data-filter="2")
      a.links_item--button(href="")
        p Рестораны и бары
        span.icon-ic-lg-chevron-right
    .links_item(data-filter="3")
      a.links_item--button(href="")
        p красота
        span.icon-ic-lg-chevron-right
    .links_item(data-filter="4")
      a.links_item--button(href="")
        p оздоровление
        span.icon-ic-lg-chevron-right
    .links_item(data-filter="5")
      a.links_item--button(href="")
        p развлечения
        span.icon-ic-lg-chevron-right
    .links_item(data-filter="6")
      a.links_item--button(href="")
        p Спорт и активный отдых
        span.icon-ic-lg-chevron-right

  .links_image
    .links_image--item.is_active(data-filter="1")
      img(src="/assets/img/2.jpg")
    .links_image--item(data-filter="2")
      video(src="/assets/video/@lepragram.mp4" poster="" playsinline muted loop)
    .links_image--item(data-filter="3")
      img(src="/assets/img/2.jpg")
    .links_image--item(data-filter="4")
      img(src="/assets/img/3.jpg")
    .links_image--item(data-filter="5")
      img(src="/assets/img/3.jpg")
    .links_image--item(data-filter="6")
      img(src="/assets/img/3.jpg")
