header.header
  .header--main
    a.header--logo(href="/")
      <svg fill='#fff' width="184" height="76" viewBox="0 0 184 76" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M75.1904 57.1062C73.7752 57.1062 72.6656 56.8337 71.8695 56.2966V54.6533C72.7943 55.2866 73.8798 55.6073 75.11 55.6073C75.6568 55.6073 76.091 55.5271 76.3966 55.3588C76.7021 55.1904 76.8629 54.966 76.8629 54.6694C76.8629 54.4129 76.7021 54.2044 76.3725 54.0361C76.2358 53.972 75.9784 53.8918 75.6086 53.7956L74.6195 53.5551C73.6787 53.3147 72.9953 53.0101 72.5771 52.6413C72.159 52.2726 71.9419 51.7515 71.9419 51.0782C71.9419 50.3568 72.2394 49.7876 72.8345 49.3708C73.4295 48.9539 74.2577 48.7455 75.3111 48.7455C76.5333 48.7455 77.5062 48.986 78.246 49.459V51.0541C77.2811 50.5171 76.3322 50.2445 75.3754 50.2445C74.8447 50.2445 74.4426 50.3247 74.1612 50.477C73.8798 50.6293 73.735 50.8457 73.735 51.1183C73.735 51.3668 73.9039 51.5752 74.2336 51.7515C74.2738 51.7756 74.5311 51.8558 74.9975 51.992L75.9222 52.1844C77.7394 52.5852 78.648 53.4189 78.648 54.6854C78.648 55.4069 78.3264 55.992 77.6912 56.4329C77.0559 56.8738 76.2197 57.0982 75.1824 57.0982"/>
      <path d="M85.2336 48.7535C86.3593 48.7535 87.284 49.1544 88.0077 49.964C88.7314 50.7576 89.0932 51.7515 89.0932 52.9379C89.0932 54.1243 88.7314 55.0942 88.0077 55.8958C87.284 56.7055 86.3593 57.1063 85.2336 57.1063C84.0113 57.1063 83.0706 56.6734 82.3951 55.8157V60.1283H80.6422V48.97H82.3951V50.0521C83.0625 49.1944 84.0113 48.7616 85.2336 48.7616M84.7672 50.3006C84.2606 50.3006 83.7942 50.4289 83.3761 50.6934C82.958 50.958 82.6283 51.3026 82.4032 51.7195V54.1724C82.6283 54.5812 82.958 54.9179 83.3841 55.1824C83.8103 55.4469 84.2686 55.5752 84.7672 55.5752C85.4989 55.5752 86.11 55.3187 86.6005 54.8137C87.083 54.2926 87.3322 53.6754 87.3322 52.9379C87.3322 52.2004 87.091 51.5672 86.6005 51.0622C86.11 50.5491 85.5069 50.2846 84.7672 50.2846V50.3006Z"/>
      <path d="M94.8264 57.1063C93.556 57.1063 92.5026 56.7055 91.6824 55.8958C90.8623 55.0862 90.4522 54.1002 90.4522 52.9219C90.4522 51.7435 90.8623 50.7736 91.6824 49.964C92.5026 49.1544 93.5479 48.7535 94.8264 48.7535C96.1049 48.7535 97.1261 49.1544 97.9543 49.964C98.7745 50.7736 99.1846 51.7596 99.1846 52.9219C99.1846 54.0842 98.7745 55.0782 97.9543 55.8958C97.1261 56.7055 96.0808 57.1063 94.8264 57.1063ZM94.8264 55.5672C95.5582 55.5672 96.1853 55.3187 96.6919 54.8057C97.1905 54.3087 97.4397 53.6834 97.4397 52.9139C97.4397 52.1443 97.1905 51.5351 96.6919 51.0381C96.1853 50.5331 95.5662 50.2766 94.8264 50.2766C94.0867 50.2766 93.4514 50.5331 92.9449 51.0381C92.4463 51.5351 92.1971 52.1604 92.1971 52.9139C92.1971 53.6674 92.4463 54.3087 92.9449 54.8057C93.4514 55.3107 94.0786 55.5672 94.8264 55.5672Z"/>
      <path d="M102.867 56.8898H101.114V48.962H102.867V50.3327C103.141 49.8678 103.543 49.491 104.081 49.1944C104.62 48.8978 105.191 48.7455 105.802 48.7455C105.875 48.7455 105.931 48.7455 105.963 48.7616V50.5091C105.77 50.485 105.609 50.477 105.481 50.477C104.886 50.477 104.355 50.6293 103.872 50.9339C103.398 51.2385 103.06 51.5992 102.867 52.0321V56.8978V56.8898Z"/>
      <path d="M108.866 54.7254V50.4929H107.161V48.9619H108.866V46.6533H110.619V48.9619H113.127V50.4929H110.619V54.2204C110.619 54.6613 110.723 54.9819 110.924 55.1903C111.125 55.3988 111.439 55.4949 111.865 55.4949C112.291 55.4949 112.685 55.3988 113.063 55.2064V56.7054C112.685 56.9619 112.098 57.0901 111.294 57.0901C110.538 57.0901 109.943 56.8817 109.509 56.4729C109.075 56.0641 108.858 55.4789 108.858 54.7094"/>
      <path d="M100.334 19.7755L96.8929 18.2445L93.4594 22.6773H96.515L100.334 19.7755Z"/>
      <path d="M94.955 24.1763C90.1948 24.1763 86.4638 27.8477 86.4638 32.529V32.5691C86.4638 37.3066 90.0902 40.8817 94.9067 40.8817C99.7232 40.8817 103.398 37.2104 103.398 32.529V32.489C103.398 27.7515 99.7715 24.1763 94.955 24.1763ZM94.955 37.9318C91.9959 37.9318 89.7686 35.6072 89.7686 32.529V32.489C89.7686 29.4349 91.9798 27.1262 94.9067 27.1262C97.8336 27.1262 100.093 29.4509 100.093 32.529V32.5691C100.093 35.6232 97.8819 37.9318 94.955 37.9318Z"/>
      <path d="M139.968 33.8998H147.937V31.022H139.968V27.3186H148.95V24.4329H136.816V40.6252H149.062V37.7395H139.968V33.8998Z"/>
      <path d="M158.76 32.6573H158.736C158.647 32.6573 158.551 32.6573 158.462 32.6573L159.507 31.5992L166.503 24.4248H162.475L155.222 32.0882V24.4248H150.18V27.3427H152.054V40.6172H155.23V39.8717C155.318 38.6132 155.833 35.7114 158.768 35.7034C159.918 35.7034 160.85 36.0481 161.534 36.7375C162.362 37.5631 162.836 38.8697 162.836 40.3367V40.5932H165.9V40.3367C165.9 38.0681 165.096 35.9679 163.697 34.5731C162.434 33.3146 160.722 32.6493 158.76 32.6493"/>
      <path d="M170.829 24.3206V27.2384H172.751L166.857 40.6172H170.146L171.786 36.8096H179.007L180.647 40.6172H184L176.924 24.3206H170.829ZM177.8 33.9238H172.968L175.38 28.3687L177.792 33.9238H177.8Z"/>
      <path d="M118.33 37.018C117.968 37.3226 117.582 37.5471 117.196 37.6834C116.489 37.9319 115.813 37.8597 115.29 37.491C114.615 37.002 114.213 36.0561 114.133 34.7976L115.13 34.6373H115.154C117.727 33.9399 119.15 32.1764 119.15 29.6673V29.6273C119.15 28.2084 118.668 26.9579 117.799 26.0842C116.698 25.01 115.065 24.4409 113.079 24.4409H105.842V40.6333H109.019V35.1022H111.077C111.23 37.2425 112.082 38.9659 113.489 39.9759C114.326 40.5771 115.323 40.8978 116.376 40.8978C116.987 40.8978 117.606 40.7936 118.209 40.5771C118.941 40.3206 119.649 39.9118 120.292 39.3747L120.493 39.2064L118.523 36.8657L118.322 37.0341L118.33 37.018ZM115.958 29.7475V29.7876C115.958 31.2625 114.752 32.2244 112.886 32.2244H109.019V27.3347H112.862C114.824 27.3347 115.95 28.2164 115.95 29.7475H115.958Z"/>
      <path d="M128.944 31.0942C125.848 30.2846 125.358 29.7235 125.39 28.6974V28.6574C125.422 27.6634 126.403 27.0301 127.834 27.0702C128.928 27.1022 130.005 27.455 131.051 28.1123C131.308 28.2726 131.557 28.457 131.815 28.6574L132.008 28.8097L133.961 26.5652L133.768 26.3968C133.495 26.1644 133.214 25.9399 132.924 25.7475C131.493 24.7696 129.869 24.2646 127.963 24.2085C124.666 24.1123 122.318 26.0041 122.238 28.8016V28.8417C122.149 31.8878 124.111 33.0101 127.537 33.9159C130.415 34.6694 130.906 35.2626 130.882 36.2165V36.2565C130.866 36.7776 130.624 37.2105 130.174 37.5071C129.7 37.8277 129.016 37.988 128.22 37.964C126.837 37.9239 125.639 37.5151 124.465 36.6814L124.272 36.5451L122.27 38.7896L122.503 38.958C124.135 40.1363 126.009 40.7616 128.067 40.8257C128.164 40.8257 128.252 40.8257 128.341 40.8257C131.726 40.8257 133.953 38.99 134.034 36.0802V36.0401C134.106 33.5071 132.635 32.0642 128.944 31.0782"/>
      <path d="M81.173 24.4329V30.998H75.3433V24.4329H70.2936V27.3507H72.1671V40.6172H75.3433V33.9639H81.173V40.6172H84.3411V27.3507H86.2387V24.4329H81.173Z"/>
      <path d="M0 56.1443V68H25.6987C20.7455 62.1403 9.74558 56.3527 0 56.1443Z"/>
      <path d="M35.1387 42.5571H24.3317V53.996C27.0817 52.537 30.7242 51.1663 35.1387 50.1643V42.5571Z"/>
      <path d="M17.4326 55.014H22.4742V40.7054H36.9961V55.014H42.0378V26.469H46.1467V22.0441H36.9961V36.1684H22.4742V22.0441H13.3558V26.469H17.4326V55.014Z"/>
      <path d="M22.016 56.8657H15.5833V53.5551C11.0321 51.6954 5.79749 50.4449 0 50.2365V54.2926C11.0241 54.501 23.2221 61.2906 28.0386 68H30.073C31.1103 68 32.1234 67.9519 33.1366 67.8477C31.0459 64.1683 27.2346 60.1443 22.016 56.8738"/>
      <path d="M54.7987 55.0701C55.7636 53.6834 56.6159 52.2084 57.3396 50.6613C52.7402 50.2846 48.2051 50.3006 43.8952 50.6934V55.0942C47.4332 54.7816 51.1401 54.7655 54.8067 55.0701"/>
      <path d="M29.679 60.4729C30.8932 61.6513 31.9787 62.8697 32.9195 64.1202C38.0415 62.1643 43.1716 61.3627 48.551 61.6673C50.3763 60.2485 52.0327 58.6212 53.4801 56.8336C44.5225 56.2565 35.4524 57.6272 29.679 60.4729Z"/>
      <path d="M24.3317 56.1523C25.7147 57.0902 27.0173 58.0922 28.2235 59.1343C30.1774 58.0922 32.5334 57.2265 35.1467 56.5531V52.0802C30.9252 53.0742 27.1299 54.493 24.3397 56.1203V56.1523H24.3317Z"/>
      <path d="M30.073 8C13.4685 8 0 21.4349 0 37.996V48.3767C6.12717 48.5932 11.3538 49.9158 15.5752 51.5671V28.3126H11.4985V20.1844H24.3237V34.3086H35.1388V20.1924H48.0042V28.3206H43.8953V48.8176C48.1972 48.4409 52.9574 48.4088 58.1116 48.8657C59.4223 45.499 60.146 41.8357 60.146 37.996C60.146 21.4268 46.6855 8 30.073 8Z"/>
      <path d="M34.013 65.6994C34.415 66.3247 34.7769 66.9499 35.1065 67.5832C39.0466 66.9178 42.7213 65.499 45.9778 63.4629C41.8931 63.511 37.953 64.2485 34.013 65.6994Z"/>
      </svg>

    .header--nav
      nav.nav
        button.nav--item.menu_button
          span.icon-ic-lg-menu
          span.icon-ic-lg-close
          span.button_text Курорт
        a.nav--item(href="" title="")
          span Размещение
        a.nav--item(href="" title="")
          span Спецпредложения
        a.nav--item(href="" title="")
          span Афиша
        a.nav--item(href="" title="")
          span Контакты
        .nav--item.is_dropdown.hidden
          span ...
          .is_dropdown--wrapper(aria-hidden="true")
            .is_dropdown--content
    .header--actions
      .header--actions_mobile
        .button(data-openpopup='popup_mobile_contacts')
          span.icon-ic-lg-phone
      .header--contacts.is_dropdown
        span.header--contacts-adress МО, с. Ивановское. Луговая д.23
        a.button(href="")
          span 8 499 490-01-87
          span.icon-SelectDown
        .is_dropdown--wrapper(aria-hidden="true")
          .is_dropdown--content
            .contact
              .contact--title Телефон
              .contact--value
                a(href="/") 8 888 888 88 88
              .contact--value
                a(href="/") info@mriyaresort.com
            .contact
              .contact--title Карьера
              .contact--value
                a(href="/") job@mriyaresort.com
            .contact
              .contact--title Сотрудничество
              .contact--value
                a(href="/") 8 499 490-02-85
      .header--booking.is_dropdown
        button.button.button-filled.button-accent
          span.icon-HeaderCalendar
          span Личный кабинет

.header_mobile
  button.header_mobile--item.menu_button
    span.icon-ic-lg-menu
    span.icon-ic-lg-close
    span.button_text Меню
  a.header_mobile--item(href="")
    span.icon-HeaderCalendar
    span Найти номер
  .header_mobile--item.header_mobile--item-contacts
    button(data-openpopup='popup_mobile_contacts')
      span.icon-ic-lg-phone
      span Связаться


.popup.popup-mobile_contacts(data-popup="popup_mobile_contacts")
  .popup--content
    .popup--close(data-closepopup)
      button.button.button-link.button-primary
        span.icon-ic-lg-close
    .contact
      .contact--title Бронирование
      .contact--value
        a(href="/") 8 888 888 88 88
      .contact--value
        a(href="/") info@mriyaresort.com
    .contact
      .contact--title Карьера
      .contact--value
        a(href="/") job@mriyaresort.com
    .contact
      .contact--title Сотрудничество
      .contact--value
        a(href="/") 8 499 490-02-85
    .contact
      .contact--title Социальные сети
      .contact--value
        a(href="/")
          span.icon-ic-socials-vk
        a(href="/")
          span.icon-ic-socials-viber
        a(href="/")
          span.icon-ic-socials-youtube
        a(href="/")
          span.icon-ic-socials-telegram

.popup.popup-menu(data-popup="popup_menu" data-lenis-prevent)
  .popup--content
    .menu--block
      .header--lang
        a.button.button-outlined.button-primary(href='/')
          span En
      .menu
        a.menu--item(href="" title="")
          span Чем заняться
        .menu--wrapper(aria-hidden="true")
          .menu--content
            .button.button-link.button-secondary.js_mobile_backwards
              span.icon-ic-lg-chevron-left
              span Назад
            .is_cascade
              h2 Чем заняться
              p Mriya Resort & SPA — ведущий мировой курорт премиум-класса, расположенный на южном берегу Крыма между живописным горным массивом и морским простором
              .menu--list
                .menu--list_title
                  a.button.button-primary.button-link(href="")
                    span Рестораны и бары
                    span.icon-ic-lg-chevron-right
                a.button.button-primary.button-link(href="")
                  <!-- Если ссылка на внешний ресурс -->
                  span.icon-ic-lg-link
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
              .menu--list
                .menu--list_title
                  a.button.button-primary.button-link(href="")
                    span Парки
                    span.icon-ic-lg-chevron-right
                a.button.button-primary.button-link(href="")
                  span Японский сад
                a.button.button-primary.button-link(href="")
                  span Winepark
                a.button.button-primary.button-link(href="")
                  span Dreamwood
              .menu--list
                .menu--list_title
                  a.button.button-primary.button-link(href="")
                    span Оздоровление
                    span.icon-ic-lg-chevron-right
                a.button.button-primary.button-link(href="")
                  span Институт активного долголетия
                a.button.button-primary.button-link(href="")
                  span Медицинский центр

      .menu
        a.menu--item(href="" title="")
          span Услуги и сервис
        .menu--wrapper(aria-hidden="true")
          .menu--content
            .button.button-link.button-secondary.js_mobile_backwards
              span.icon-ic-lg-chevron-left
              span Назад
            .is_cascade
              h2 Услуги и сервис
              p Mriya Resort & SPA — ведущий мировой курорт премиум-класса, расположенный на южном берегу Крыма между живописным горным массивом и морским простором
              .menu--list
                .menu--list_title
                  a.button.button-primary.button-link(href="")
                    span Рестораны и бары
                    span.icon-ic-lg-chevron-right
                a.button.button-primary.button-link(href="")
                  <!-- Если ссылка на внешний ресурс -->
                  span.icon-ic-lg-link
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
                a.button.button-primary.button-link(href="")
                  span Winekitchen
              .menu--list
                a.button.button-primary.button-link(href="")
                  span Парки
                a.button.button-primary.button-link(href="")
                  span Winekitchen
              .menu--list
                a.button.button-primary.button-link(href="")
                  span Парки
                a.button.button-primary.button-link(href="")
                  span Winekitchen
      .menu
        a.menu--item(href="" title="")
          span Размещение
        .menu--wrapper(aria-hidden="true")
          .menu--content
            .button.button-link.button-secondary.js_mobile_backwards
              span.icon-ic-lg-chevron-left
              span Назад
            .is_cascade
              h2 Размещение
              p Mriya Resort & SPA — ведущий мировой курорт премиум-класса, расположенный на южном берегу Крыма между живописным горным массивом и морским простором
              .menu--list
                a.button.button-primary.button-link(href="")
                  span Номера
                a.button.button-primary.button-link(href="")
                  span Виллы
      .menu
        a.menu--item(href="" title="")
          span Курорт
        .menu--wrapper(aria-hidden="true")
          .menu--content
            .button.button-link.button-secondary.js_mobile_backwards
              span.icon-ic-lg-chevron-left
              span Назад
            .is_cascade
              h2 Курорт
              p Mriya Resort & SPA — ведущий мировой курорт премиум-класса, расположенный на южном берегу Крыма между живописным горным массивом и морским простором
              .menu--list
                a.button.button-primary.button-link(href="")
                  span Номера
                a.button.button-primary.button-link(href="")
                  span Виллы
      .menu
        a.menu--item(href="" title="")
          span Спецпредложения
      .menu
        a.menu--item(href="" title="")
          span Афиша
      .menu
        a.menu--item(href="" title="")
          span Контакты
