.item
  .item--image
    img(src="/assets/img/1.jpg" alt="")
  .item--content
    .item--title
      h4 Ваш персональный консультант
    .item--text
      p Нужна помощь с выбором? Обратитесь к вашему персональному менеджеру и получите консультацию по выбору лошади
  a(href='').item--actions
    span Связаться с консультантом
    .button.button-outlined.button-primary
      span.icon-HeroSliderRight

