extends ../../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../../components/_templates/block/block_image_text/block_image_text
  include ../../components/_templates/block/block_image_text/block_image_text_video

  //include ../../components/_templates/block/block_elements/block_elements
  include ../../components/_templates/block/block_banner/block_banner
