extends ../../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
      hr
      div.ui_grid_buttons
        .f-h2.ui_grid_buttons_title Базовые filled
        button.button.button-filled.button-accent
          span button-filled ACCENT
        button.button.button-filled.button-primary
          span button-filled primary
        button.button.button-filled.button-secondary
          span button-filled secondary

        .f-h2.ui_grid_buttons_title Темная тема
        .theme-dark
          button.button.button-filled.button-accent.button-dark
            span button-filled accent
        .theme-dark
          button.button.button-filled.button-primary.button-dark
            span button-filled primary
        .theme-dark
          button.button.button-filled.button-secondary.button-dark
            span button-filled secondary

        .f-h2.ui_grid_buttons_title С иконкой
        button.button.button-filled.button-accent
          span.icon-ic-lg-phone
          span button-filled accent
          span.icon-ic-lg-phone
        button.button.button-filled.button-primary
          span.icon-ic-lg-phone
          span button-filled primary
        button.button.button-filled.button-secondary
          span button-filled secondary
          span.icon-ic-lg-phone

        .f-h2.ui_grid_buttons_title Только иконка
        button.button.button-filled.button-accent
          span.icon-ic-lg-phone
        button.button.button-filled.button-primary
          span.icon-ic-lg-phone
        button.button.button-filled.button-secondary
          span.icon-ic-lg-phone

      hr
      div.ui_grid_buttons
        .f-h2.ui_grid_buttons_title Базовые outlined
        button.button.button-outlined.button-accent
          span button-outlined accent
        button.button.button-outlined.button-primary
          span button-outlined primary
        button.button.button-outlined.button-secondary
          span button-outlined secondary

        .f-h2.ui_grid_buttons_title Темная тема
        .theme-dark
          button.button.button-outlined.button-accent.button-dark
            span button-outlined accent
        .theme-dark
          button.button.button-outlined.button-primary.button-dark
            span button-outlined primary
        .theme-dark
          button.button.button-outlined.button-secondary.button-dark
            span button-outlined secondary

        .f-h2.ui_grid_buttons_title С иконкой
        button.button.button-outlined.button-accent
          span.icon-ic-lg-phone
          span button-outlined accent
        button.button.button-outlined.button-primary
          span.icon-ic-lg-phone
          span button-outlined primary
        button.button.button-outlined.button-secondary
          span.icon-ic-lg-phone
          span button-outlined secondary

        .f-h2.ui_grid_buttons_title Только иконка
        button.button.button-outlined.button-accent
          span.icon-ic-lg-phone
        button.button.button-outlined.button-primary
          span.icon-ic-lg-phone
        button.button.button-outlined.button-secondary
          span.icon-ic-lg-phone
      hr
      div.ui_grid_buttons
        .f-h2.ui_grid_buttons_title Базовые link
        button.button.button-link.button-accent
          span button-link accent
        button.button.button-link.button-primary
          span button-link primary
        button.button.button-link.button-secondary
          span button-link secondary

        //.f-h2.ui_grid_buttons_title Темная тема
        //.theme-dark
        //  button.button.button-link.button-accent.button-dark
        //    span button-link accent
        //.theme-dark
        //  button.button.button-link.button-primary.button-dark
        //    span button-link primary
        //.theme-dark
        //  button.button.button-link.button-secondary.button-dark
        //    span button-link secondary

        .f-h2.ui_grid_buttons_title С иконкой
        button.button.button-link.button-accent
          span.icon-ic-lg-phone
          span button-link accent
        button.button.button-link.button-primary
          span.icon-ic-lg-phone
          span button-link primary
        button.button.button-link.button-secondary
          span.icon-ic-lg-phone
          span button-link secondary

        .f-h2.ui_grid_buttons_title Только иконка
        button.button.button-link.button-accent
          span.icon-ic-lg-phone
        button.button.button-link.button-primary
          span.icon-ic-lg-phone
        button.button.button-link.button-secondary
          span.icon-ic-lg-phone
