extends ../../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .ux_col

    h2 Компоненты
    a(href="/ux/blocks.html") Блоки
    a(href="/ux/cards.html") Карточки
    a(href="/ux/buttons.html") Кнопки

